In [1]:
import pandas as pd
import numpy as np
import re
import datetime as dt

In [4]:
path='C:\\Users\\camendol\\Downloads\\'
file='HCUP_SummaryTrendTables_T1 (1).xlsx'

file_path=path+file

In [23]:
#Open connection to EXCEL
xl_file = pd.ExcelFile(file_path)
xl_file.sheet_names 

for tab in xl_file.sheet_names:
    if tab not in ('DUA','HCUP','Methods'):
        print(tab)
        cur_tab=xl_file.parse(tab)
        q=cur_tab.loc[ (cur_tab['HCUP Summary Trend Tables']=='Average length of stay')
                      |(cur_tab['HCUP Summary Trend Tables']=='Characteristic by Month') ].T
        display(q)

Alaska

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.993354
Unnamed: 2                     2017-02-01 00:00:00                5.311339
Unnamed: 3                     2017-03-01 00:00:00                4.945246
Unnamed: 4                     2017-04-01 00:00:00                4.634247
Unnamed: 5                     2017-05-01 00:00:00                4.969149
Unnamed: 6                     2017-06-01 00:00:00                4.993403
Unnamed: 7                     2017-07-01 00:00:00                4.702013
Unnamed: 8                     2017-08-01 00:00:00                4.864721
Unnamed: 9                     2017-09-01 00:00:00                5.048981
Unnamed: 10                    2017-10-01 00:00:00                5.045446
Unnamed: 11                    2017-11-01 00:00:00                5.147585
Unnamed: 12                    2017-12-01 00:00:00                5.428937
Unnamed: 13                    2018-01-01 00:00:00                4.940415
Unnamed: 14                    2018-02-01 00:00:00                5.380705
Unnamed: 15                    2018-03-01 00:00:00                4.998851
Unnamed: 16                    2018-04-01 00:00:00                5.218847
Unnamed: 17                    2018-05-01 00:00:00                5.356068
Unnamed: 18                    2018-06-01 00:00:00                5.278054
Unnamed: 19                    2018-07-01 00:00:00                5.272746
Unnamed: 20                    2018-08-01 00:00:00                5.154976
Unnamed: 21                    2018-09-01 00:00:00                5.340779
Unnamed: 22                    2018-10-01 00:00:00                5.406021
Unnamed: 23                    2018-11-01 00:00:00                5.296032
Unnamed: 24                    2018-12-01 00:00:00                5.521534
Unnamed: 25                    2019-01-01 00:00:00                 5.34691
Unnamed: 26                    2019-02-01 00:00:00                5.789692
Unnamed: 27                    2019-03-01 00:00:00                5.517255
Unnamed: 28                    2019-04-01 00:00:00                5.284771
Unnamed: 29                    2019-05-01 00:00:00                5.005277
Unnamed: 30                    2019-06-01 00:00:00                5.132499
Unnamed: 31                    2019-07-01 00:00:00                5.015842
Unnamed: 32                    2019-08-01 00:00:00                5.111459
Unnamed: 33                    2019-09-01 00:00:00                5.120549
Unnamed: 34                    2019-10-01 00:00:00                5.482857
Unnamed: 35                    2019-11-01 00:00:00                5.137852
Unnamed: 36                    2019-12-01 00:00:00                5.197679
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Arizona

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.404302
Unnamed: 2                     2017-02-01 00:00:00                4.386378
Unnamed: 3                     2017-03-01 00:00:00                4.485335
Unnamed: 4                     2017-04-01 00:00:00                4.327948
Unnamed: 5                     2017-05-01 00:00:00                4.394136
Unnamed: 6                     2017-06-01 00:00:00                4.372811
Unnamed: 7                     2017-07-01 00:00:00                4.316502
Unnamed: 8                     2017-08-01 00:00:00                4.230684
Unnamed: 9                     2017-09-01 00:00:00                4.223713
Unnamed: 10                    2017-10-01 00:00:00                4.289817
Unnamed: 11                    2017-11-01 00:00:00                4.249762
Unnamed: 12                    2017-12-01 00:00:00                4.228993
Unnamed: 13                    2018-01-01 00:00:00                4.565092
Unnamed: 14                    2018-02-01 00:00:00                4.451347
Unnamed: 15                    2018-03-01 00:00:00                4.421668
Unnamed: 16                    2018-04-01 00:00:00                4.416942
Unnamed: 17                    2018-05-01 00:00:00                4.366215
Unnamed: 18                    2018-06-01 00:00:00                4.400093
Unnamed: 19                    2018-07-01 00:00:00                 4.40938
Unnamed: 20                    2018-08-01 00:00:00                4.253863
Unnamed: 21                    2018-09-01 00:00:00                4.257873
Unnamed: 22                    2018-10-01 00:00:00                4.322296
Unnamed: 23                    2018-11-01 00:00:00                4.351432
Unnamed: 24                    2018-12-01 00:00:00                4.380408
Unnamed: 25                    2019-01-01 00:00:00                4.474467
Unnamed: 26                    2019-02-01 00:00:00                4.431302
Unnamed: 27                    2019-03-01 00:00:00                4.432221
Unnamed: 28                    2019-04-01 00:00:00                4.512452
Unnamed: 29                    2019-05-01 00:00:00                4.436192
Unnamed: 30                    2019-06-01 00:00:00                4.445553
Unnamed: 31                    2019-07-01 00:00:00                4.427875
Unnamed: 32                    2019-08-01 00:00:00                4.302158
Unnamed: 33                    2019-09-01 00:00:00                4.363677
Unnamed: 34                    2019-10-01 00:00:00                4.380793
Unnamed: 35                    2019-11-01 00:00:00                4.418069
Unnamed: 36                    2019-12-01 00:00:00                4.468642
Unnamed: 37                    2020-01-01 00:00:00                 4.23697
Unnamed: 38                    2020-02-01 00:00:00                4.289274
Unnamed: 39                    2020-03-01 00:00:00                4.376441
Unnamed: 40                    2020-04-01 00:00:00                4.229927
Unnamed: 41                    2020-05-01 00:00:00                4.157033
Unnamed: 42                    2020-06-01 00:00:00                4.267677
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Arkansas

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.640573
Unnamed: 2                     2017-02-01 00:00:00                 4.49457
Unnamed: 3                     2017-03-01 00:00:00                4.552237
Unnamed: 4                     2017-04-01 00:00:00                4.486903
Unnamed: 5                     2017-05-01 00:00:00                4.574957
Unnamed: 6                     2017-06-01 00:00:00                4.520979
Unnamed: 7                     2017-07-01 00:00:00                4.412248
Unnamed: 8                     2017-08-01 00:00:00                4.389684
Unnamed: 9                     2017-09-01 00:00:00                4.398888
Unnamed: 10                    2017-10-01 00:00:00                4.515093
Unnamed: 11                    2017-11-01 00:00:00                4.533514
Unnamed: 12                    2017-12-01 00:00:00                4.326843
Unnamed: 13                    2018-01-01 00:00:00                4.700272
Unnamed: 14                    2018-02-01 00:00:00                 4.55443
Unnamed: 15                    2018-03-01 00:00:00                4.482887
Unnamed: 16                    2018-04-01 00:00:00                4.482324
Unnamed: 17                    2018-05-01 00:00:00                4.427982
Unnamed: 18                    2018-06-01 00:00:00                4.380979
Unnamed: 19                    2018-07-01 00:00:00                4.453961
Unnamed: 20                    2018-08-01 00:00:00                 4.40119
Unnamed: 21                    2018-09-01 00:00:00                4.327625
Unnamed: 22                    2018-10-01 00:00:00                4.475879
Unnamed: 23                    2018-11-01 00:00:00                4.448472
Unnamed: 24                    2018-12-01 00:00:00                4.375816
Unnamed: 25                    2019-01-01 00:00:00                4.574229
Unnamed: 26                    2019-02-01 00:00:00                4.538808
Unnamed: 27                    2019-03-01 00:00:00                4.448927
Unnamed: 28                    2019-04-01 00:00:00                4.526662
Unnamed: 29                    2019-05-01 00:00:00                4.549755
Unnamed: 30                    2019-06-01 00:00:00                4.416621
Unnamed: 31                    2019-07-01 00:00:00                4.464818
Unnamed: 32                    2019-08-01 00:00:00                4.407087
Unnamed: 33                    2019-09-01 00:00:00                4.416889
Unnamed: 34                    2019-10-01 00:00:00                4.371718
Unnamed: 35                    2019-11-01 00:00:00                4.398146
Unnamed: 36                    2019-12-01 00:00:00                4.473643
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

California

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.569428
Unnamed: 2                     2017-02-01 00:00:00                4.566063
Unnamed: 3                     2017-03-01 00:00:00                4.558975
Unnamed: 4                     2017-04-01 00:00:00                4.432187
Unnamed: 5                     2017-05-01 00:00:00                4.453337
Unnamed: 6                     2017-06-01 00:00:00                4.395537
Unnamed: 7                     2017-07-01 00:00:00                4.320719
Unnamed: 8                     2017-08-01 00:00:00                4.299582
Unnamed: 9                     2017-09-01 00:00:00                4.297092
Unnamed: 10                    2017-10-01 00:00:00                4.380617
Unnamed: 11                    2017-11-01 00:00:00                4.369375
Unnamed: 12                    2017-12-01 00:00:00                  4.3621
Unnamed: 13                    2018-01-01 00:00:00                4.578868
Unnamed: 14                    2018-02-01 00:00:00                 4.49657
Unnamed: 15                    2018-03-01 00:00:00                4.514391
Unnamed: 16                    2018-04-01 00:00:00                4.475447
Unnamed: 17                    2018-05-01 00:00:00                4.431636
Unnamed: 18                    2018-06-01 00:00:00                4.371152
Unnamed: 19                    2018-07-01 00:00:00                 4.40578
Unnamed: 20                    2018-08-01 00:00:00                4.361406
Unnamed: 21                    2018-09-01 00:00:00                4.300989
Unnamed: 22                    2018-10-01 00:00:00                 4.41745
Unnamed: 23                    2018-11-01 00:00:00                4.427858
Unnamed: 24                    2018-12-01 00:00:00                4.471024
Unnamed: 25                    2019-01-01 00:00:00                4.546693
Unnamed: 26                    2019-02-01 00:00:00                4.553358
Unnamed: 27                    2019-03-01 00:00:00                4.534193
Unnamed: 28                    2019-04-01 00:00:00                4.580636
Unnamed: 29                    2019-05-01 00:00:00                4.494648
Unnamed: 30                    2019-06-01 00:00:00                4.407602
Unnamed: 31                    2019-07-01 00:00:00                4.494595
Unnamed: 32                    2019-08-01 00:00:00                4.364186
Unnamed: 33                    2019-09-01 00:00:00                 4.37904
Unnamed: 34                    2019-10-01 00:00:00                4.414845
Unnamed: 35                    2019-11-01 00:00:00                4.421867
Unnamed: 36                    2019-12-01 00:00:00                4.545588
Unnamed: 37                    2020-01-01 00:00:00                 4.11275
Unnamed: 38                    2020-02-01 00:00:00                4.092721
Unnamed: 39                    2020-03-01 00:00:00                4.210171
Unnamed: 40                    2020-04-01 00:00:00                4.135209
Unnamed: 41                    2020-05-01 00:00:00                 4.05625
Unnamed: 42                    2020-06-01 00:00:00                4.081054
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Colorado

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.435321
Unnamed: 2                     2017-02-01 00:00:00                4.439599
Unnamed: 3                     2017-03-01 00:00:00                4.359241
Unnamed: 4                     2017-04-01 00:00:00                4.366166
Unnamed: 5                     2017-05-01 00:00:00                 4.40666
Unnamed: 6                     2017-06-01 00:00:00                 4.25799
Unnamed: 7                     2017-07-01 00:00:00                4.402271
Unnamed: 8                     2017-08-01 00:00:00                4.306366
Unnamed: 9                     2017-09-01 00:00:00                4.304549
Unnamed: 10                    2017-10-01 00:00:00                4.404504
Unnamed: 11                    2017-11-01 00:00:00                4.445195
Unnamed: 12                    2017-12-01 00:00:00                4.302255
Unnamed: 13                    2018-01-01 00:00:00                4.459794
Unnamed: 14                    2018-02-01 00:00:00                4.475103
Unnamed: 15                    2018-03-01 00:00:00                4.407363
Unnamed: 16                    2018-04-01 00:00:00                4.448704
Unnamed: 17                    2018-05-01 00:00:00                4.434948
Unnamed: 18                    2018-06-01 00:00:00                4.331187
Unnamed: 19                    2018-07-01 00:00:00                 4.43352
Unnamed: 20                    2018-08-01 00:00:00                4.459274
Unnamed: 21                    2018-09-01 00:00:00                4.441993
Unnamed: 22                    2018-10-01 00:00:00                4.512544
Unnamed: 23                    2018-11-01 00:00:00                4.428398
Unnamed: 24                    2018-12-01 00:00:00                4.410648
Unnamed: 25                    2019-01-01 00:00:00                4.485172
Unnamed: 26                    2019-02-01 00:00:00                4.465636
Unnamed: 27                    2019-03-01 00:00:00                4.493282
Unnamed: 28                    2019-04-01 00:00:00                 4.52516
Unnamed: 29                    2019-05-01 00:00:00                4.465572
Unnamed: 30                    2019-06-01 00:00:00                4.391798
Unnamed: 31                    2019-07-01 00:00:00                4.338988
Unnamed: 32                    2019-08-01 00:00:00                4.265535
Unnamed: 33                    2019-09-01 00:00:00                4.346488
Unnamed: 34                    2019-10-01 00:00:00                4.467069
Unnamed: 35                    2019-11-01 00:00:00                4.500962
Unnamed: 36                    2019-12-01 00:00:00                4.413879
Unnamed: 37                    2020-01-01 00:00:00                4.040605
Unnamed: 38                    2020-02-01 00:00:00                4.048905
Unnamed: 39                    2020-03-01 00:00:00                4.182852
Unnamed: 40                    2020-04-01 00:00:00                4.327918
Unnamed: 41                    2020-05-01 00:00:00                4.187643
Unnamed: 42                    2020-06-01 00:00:00                 4.13125
Unnamed: 43                    2020-07-01 00:00:00                3.940723
Unnamed: 44                    2020-08-01 00:00:00                3.977472
Unnamed: 45                    2020-09-01 00:00:00                3.964621
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Connecticut

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.93168
Unnamed: 2                     2017-02-01 00:00:00                4.885839
Unnamed: 3                     2017-03-01 00:00:00                4.888941
Unnamed: 4                     2017-04-01 00:00:00                4.766063
Unnamed: 5                     2017-05-01 00:00:00                4.766143
Unnamed: 6                     2017-06-01 00:00:00                4.798022
Unnamed: 7                     2017-07-01 00:00:00                4.690178
Unnamed: 8                     2017-08-01 00:00:00                4.812005
Unnamed: 9                     2017-09-01 00:00:00                4.770982
Unnamed: 10                    2017-10-01 00:00:00                4.858618
Unnamed: 11                    2017-11-01 00:00:00                4.882744
Unnamed: 12                    2017-12-01 00:00:00                4.792533
Unnamed: 13                    2018-01-01 00:00:00                5.006302
Unnamed: 14                    2018-02-01 00:00:00                4.897883
Unnamed: 15                    2018-03-01 00:00:00                  4.9118
Unnamed: 16                    2018-04-01 00:00:00                4.876156
Unnamed: 17                    2018-05-01 00:00:00                4.742583
Unnamed: 18                    2018-06-01 00:00:00                4.767345
Unnamed: 19                    2018-07-01 00:00:00                4.849195
Unnamed: 20                    2018-08-01 00:00:00                4.808056
Unnamed: 21                    2018-09-01 00:00:00                 4.82433
Unnamed: 22                    2018-10-01 00:00:00                4.926295
Unnamed: 23                    2018-11-01 00:00:00                4.902036
Unnamed: 24                    2018-12-01 00:00:00                4.950218
Unnamed: 25                    2019-01-01 00:00:00                5.069582
Unnamed: 26                    2019-02-01 00:00:00                5.094251
Unnamed: 27                    2019-03-01 00:00:00                4.940586
Unnamed: 28                    2019-04-01 00:00:00                5.032803
Unnamed: 29                    2019-05-01 00:00:00                4.960854
Unnamed: 30                    2019-06-01 00:00:00                4.867036
Unnamed: 31                    2019-07-01 00:00:00                4.942249
Unnamed: 32                    2019-08-01 00:00:00                4.878808
Unnamed: 33                    2019-09-01 00:00:00                4.902601
Unnamed: 34                    2019-10-01 00:00:00                 4.94721
Unnamed: 35                    2019-11-01 00:00:00                4.859239
Unnamed: 36                    2019-12-01 00:00:00                5.057945
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Delaware

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.927286
Unnamed: 2                     2017-02-01 00:00:00                5.049376
Unnamed: 3                     2017-03-01 00:00:00                5.055787
Unnamed: 4                     2017-04-01 00:00:00                5.026606
Unnamed: 5                     2017-05-01 00:00:00                4.757958
Unnamed: 6                     2017-06-01 00:00:00                4.848808
Unnamed: 7                     2017-07-01 00:00:00                4.760377
Unnamed: 8                     2017-08-01 00:00:00                4.870975
Unnamed: 9                     2017-09-01 00:00:00                4.739876
Unnamed: 10                    2017-10-01 00:00:00                4.963185
Unnamed: 11                    2017-11-01 00:00:00                4.969229
Unnamed: 12                    2017-12-01 00:00:00                4.874561
Unnamed: 13                    2018-01-01 00:00:00                5.091403
Unnamed: 14                    2018-02-01 00:00:00                5.214597
Unnamed: 15                    2018-03-01 00:00:00                4.985619
Unnamed: 16                    2018-04-01 00:00:00                 4.96906
Unnamed: 17                    2018-05-01 00:00:00                4.887918
Unnamed: 18                    2018-06-01 00:00:00                5.019761
Unnamed: 19                    2018-07-01 00:00:00                5.140839
Unnamed: 20                    2018-08-01 00:00:00                5.297731
Unnamed: 21                    2018-09-01 00:00:00                4.949907
Unnamed: 22                    2018-10-01 00:00:00                4.817555
Unnamed: 23                    2018-11-01 00:00:00                5.144219
Unnamed: 24                    2018-12-01 00:00:00                5.003197
Unnamed: 25                    2019-01-01 00:00:00                5.312695
Unnamed: 26                    2019-02-01 00:00:00                5.215742
Unnamed: 27                    2019-03-01 00:00:00                5.088869
Unnamed: 28                    2019-04-01 00:00:00                5.106172
Unnamed: 29                    2019-05-01 00:00:00                5.099519
Unnamed: 30                    2019-06-01 00:00:00                4.934173
Unnamed: 31                    2019-07-01 00:00:00                5.130711
Unnamed: 32                    2019-08-01 00:00:00                4.975801
Unnamed: 33                    2019-09-01 00:00:00                5.123842
Unnamed: 34                    2019-10-01 00:00:00                5.391654
Unnamed: 35                    2019-11-01 00:00:00                5.126062
Unnamed: 36                    2019-12-01 00:00:00                5.218327
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

District of Columbia

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                5.631293
Unnamed: 2                     2017-02-01 00:00:00                5.528926
Unnamed: 3                     2017-03-01 00:00:00                5.816805
Unnamed: 4                     2017-04-01 00:00:00                5.519885
Unnamed: 5                     2017-05-01 00:00:00                5.571648
Unnamed: 6                     2017-06-01 00:00:00                 5.47178
Unnamed: 7                     2017-07-01 00:00:00                5.473595
Unnamed: 8                     2017-08-01 00:00:00                5.507013
Unnamed: 9                     2017-09-01 00:00:00                 5.37384
Unnamed: 10                    2017-10-01 00:00:00                5.550369
Unnamed: 11                    2017-11-01 00:00:00                5.706681
Unnamed: 12                    2017-12-01 00:00:00                5.664091
Unnamed: 13                    2018-01-01 00:00:00                5.884513
Unnamed: 14                    2018-02-01 00:00:00                5.757225
Unnamed: 15                    2018-03-01 00:00:00                5.880612
Unnamed: 16                    2018-04-01 00:00:00                5.588535
Unnamed: 17                    2018-05-01 00:00:00                 5.72192
Unnamed: 18                    2018-06-01 00:00:00                5.555125
Unnamed: 19                    2018-07-01 00:00:00                5.701896
Unnamed: 20                    2018-08-01 00:00:00                5.602242
Unnamed: 21                    2018-09-01 00:00:00                5.642209
Unnamed: 22                    2018-10-01 00:00:00                6.001969
Unnamed: 23                    2018-11-01 00:00:00                5.926284
Unnamed: 24                    2018-12-01 00:00:00                5.650276
Unnamed: 25                    2019-01-01 00:00:00                6.168881
Unnamed: 26                    2019-02-01 00:00:00                5.956786
Unnamed: 27                    2019-03-01 00:00:00                5.658731
Unnamed: 28                    2019-04-01 00:00:00                  5.8645
Unnamed: 29                    2019-05-01 00:00:00                5.693508
Unnamed: 30                    2019-06-01 00:00:00                5.677454
Unnamed: 31                    2019-07-01 00:00:00                5.955713
Unnamed: 32                    2019-08-01 00:00:00                5.975758
Unnamed: 33                    2019-09-01 00:00:00                5.759548
Unnamed: 34                    2019-10-01 00:00:00                5.986443
Unnamed: 35                    2019-11-01 00:00:00                5.781985
Unnamed: 36                    2019-12-01 00:00:00                 5.96766
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Florida

                                                9
HCUP Summary Trend Tables  Average length of stay
Unnamed: 1                               4.679484
Unnamed: 2                               4.668048
Unnamed: 3                               4.657009
Unnamed: 4                               4.640576
Unnamed: 5                               4.711663
Unnamed: 6                                4.61689
Unnamed: 7                                4.54784
Unnamed: 8                               4.552917
Unnamed: 9                               4.668874
Unnamed: 10                              4.643098
Unnamed: 11                              4.584982
Unnamed: 12                              4.590984
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17

Georgia

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.899968
Unnamed: 2                     2017-02-01 00:00:00                4.870336
Unnamed: 3                     2017-03-01 00:00:00                4.871896
Unnamed: 4                     2017-04-01 00:00:00                4.788207
Unnamed: 5                     2017-05-01 00:00:00                4.838175
Unnamed: 6                     2017-06-01 00:00:00                4.763591
Unnamed: 7                     2017-07-01 00:00:00                4.754101
Unnamed: 8                     2017-08-01 00:00:00                4.709648
Unnamed: 9                     2017-09-01 00:00:00                4.718474
Unnamed: 10                    2017-10-01 00:00:00                4.755509
Unnamed: 11                    2017-11-01 00:00:00                4.766589
Unnamed: 12                    2017-12-01 00:00:00                4.780112
Unnamed: 13                    2018-01-01 00:00:00                5.076151
Unnamed: 14                    2018-02-01 00:00:00                5.018012
Unnamed: 15                    2018-03-01 00:00:00                4.926144
Unnamed: 16                    2018-04-01 00:00:00                4.926529
Unnamed: 17                    2018-05-01 00:00:00                4.891463
Unnamed: 18                    2018-06-01 00:00:00                4.817485
Unnamed: 19                    2018-07-01 00:00:00                4.866106
Unnamed: 20                    2018-08-01 00:00:00                4.851371
Unnamed: 21                    2018-09-01 00:00:00                4.861898
Unnamed: 22                    2018-10-01 00:00:00                4.936288
Unnamed: 23                    2018-11-01 00:00:00                4.894275
Unnamed: 24                    2018-12-01 00:00:00                4.871951
Unnamed: 25                    2019-01-01 00:00:00                5.153074
Unnamed: 26                    2019-02-01 00:00:00                5.023958
Unnamed: 27                    2019-03-01 00:00:00                4.971301
Unnamed: 28                    2019-04-01 00:00:00                5.040277
Unnamed: 29                    2019-05-01 00:00:00                 4.96975
Unnamed: 30                    2019-06-01 00:00:00                4.944579
Unnamed: 31                    2019-07-01 00:00:00                4.979969
Unnamed: 32                    2019-08-01 00:00:00                4.841721
Unnamed: 33                    2019-09-01 00:00:00                4.928341
Unnamed: 34                    2019-10-01 00:00:00                4.961702
Unnamed: 35                    2019-11-01 00:00:00                4.912877
Unnamed: 36                    2019-12-01 00:00:00                5.031807
Unnamed: 37                    2020-01-01 00:00:00                4.730054
Unnamed: 38                    2020-02-01 00:00:00                4.655375
Unnamed: 39                    2020-03-01 00:00:00                4.706969
Unnamed: 40                    2020-04-01 00:00:00                 4.68686
Unnamed: 41                    2020-05-01 00:00:00                4.545847
Unnamed: 42                    2020-06-01 00:00:00                4.623321
Unnamed: 43                    2020-07-01 00:00:00                4.776174
Unnamed: 44                    2020-08-01 00:00:00                4.768425
Unnamed: 45                    2020-09-01 00:00:00                4.784422
Unnamed: 46                    2020-10-01 00:00:00                4.870124
Unnamed: 47                    2020-11-01 00:00:00                4.856878
Unnamed: 48                    2020-12-01 00:00:00                5.016765
Unnamed: 49                    2021-01-01 00:00:00                5.335487
Unnamed: 50                    2021-02-01 00:00:00                  5.1784
Unnamed: 51                    2021-03-01 00:00:00                4.956212

Hawaii

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                5.243192
Unnamed: 2                     2017-02-01 00:00:00                5.164417
Unnamed: 3                     2017-03-01 00:00:00                5.423533
Unnamed: 4                     2017-04-01 00:00:00                5.199547
Unnamed: 5                     2017-05-01 00:00:00                5.201658
Unnamed: 6                     2017-06-01 00:00:00                5.349304
Unnamed: 7                     2017-07-01 00:00:00                5.005957
Unnamed: 8                     2017-08-01 00:00:00                5.154768
Unnamed: 9                     2017-09-01 00:00:00                4.864013
Unnamed: 10                    2017-10-01 00:00:00                5.153295
Unnamed: 11                    2017-11-01 00:00:00                5.146875
Unnamed: 12                    2017-12-01 00:00:00                5.057964
Unnamed: 13                    2018-01-01 00:00:00                5.420069
Unnamed: 14                    2018-02-01 00:00:00                5.238518
Unnamed: 15                    2018-03-01 00:00:00                5.167116
Unnamed: 16                    2018-04-01 00:00:00                5.291472
Unnamed: 17                    2018-05-01 00:00:00                5.001973
Unnamed: 18                    2018-06-01 00:00:00                 5.30649
Unnamed: 19                    2018-07-01 00:00:00                5.134179
Unnamed: 20                    2018-08-01 00:00:00                5.395779
Unnamed: 21                    2018-09-01 00:00:00                5.078883
Unnamed: 22                    2018-10-01 00:00:00                5.362159
Unnamed: 23                    2018-11-01 00:00:00                5.459439
Unnamed: 24                    2018-12-01 00:00:00                5.195185
Unnamed: 25                    2019-01-01 00:00:00                5.316128
Unnamed: 26                    2019-02-01 00:00:00                5.461716
Unnamed: 27                    2019-03-01 00:00:00                5.437576
Unnamed: 28                    2019-04-01 00:00:00                5.349614
Unnamed: 29                    2019-05-01 00:00:00                5.250209
Unnamed: 30                    2019-06-01 00:00:00                5.370979
Unnamed: 31                    2019-07-01 00:00:00                  5.3356
Unnamed: 32                    2019-08-01 00:00:00                5.198491
Unnamed: 33                    2019-09-01 00:00:00                5.084885
Unnamed: 34                    2019-10-01 00:00:00                5.195347
Unnamed: 35                    2019-11-01 00:00:00                5.135987
Unnamed: 36                    2019-12-01 00:00:00                5.199607
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Illinois

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.462732
Unnamed: 2                     2017-02-01 00:00:00                4.457957
Unnamed: 3                     2017-03-01 00:00:00                4.476126
Unnamed: 4                     2017-04-01 00:00:00                4.374205
Unnamed: 5                     2017-05-01 00:00:00                 4.42168
Unnamed: 6                     2017-06-01 00:00:00                4.356914
Unnamed: 7                     2017-07-01 00:00:00                4.335684
Unnamed: 8                     2017-08-01 00:00:00                4.360068
Unnamed: 9                     2017-09-01 00:00:00                4.375471
Unnamed: 10                    2017-10-01 00:00:00                 4.39296
Unnamed: 11                    2017-11-01 00:00:00                4.405103
Unnamed: 12                    2017-12-01 00:00:00                4.371239
Unnamed: 13                    2018-01-01 00:00:00                4.596573
Unnamed: 14                    2018-02-01 00:00:00                4.498915
Unnamed: 15                    2018-03-01 00:00:00                4.454501
Unnamed: 16                    2018-04-01 00:00:00                 4.44228
Unnamed: 17                    2018-05-01 00:00:00                4.371387
Unnamed: 18                    2018-06-01 00:00:00                 4.31813
Unnamed: 19                    2018-07-01 00:00:00                4.386975
Unnamed: 20                    2018-08-01 00:00:00                4.372274
Unnamed: 21                    2018-09-01 00:00:00                4.334306
Unnamed: 22                    2018-10-01 00:00:00                4.457001
Unnamed: 23                    2018-11-01 00:00:00                4.413109
Unnamed: 24                    2018-12-01 00:00:00                4.398144
Unnamed: 25                    2019-01-01 00:00:00                4.582095
Unnamed: 26                    2019-02-01 00:00:00                4.577121
Unnamed: 27                    2019-03-01 00:00:00                4.478133
Unnamed: 28                    2019-04-01 00:00:00                4.487577
Unnamed: 29                    2019-05-01 00:00:00                4.413577
Unnamed: 30                    2019-06-01 00:00:00                4.371371
Unnamed: 31                    2019-07-01 00:00:00                4.468591
Unnamed: 32                    2019-08-01 00:00:00                4.377253
Unnamed: 33                    2019-09-01 00:00:00                4.495964
Unnamed: 34                    2019-10-01 00:00:00                4.502769
Unnamed: 35                    2019-11-01 00:00:00                4.493573
Unnamed: 36                    2019-12-01 00:00:00                4.505685
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Indiana

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.683059
Unnamed: 2                     2017-02-01 00:00:00                4.682611
Unnamed: 3                     2017-03-01 00:00:00                4.648156
Unnamed: 4                     2017-04-01 00:00:00                4.534203
Unnamed: 5                     2017-05-01 00:00:00                4.635875
Unnamed: 6                     2017-06-01 00:00:00                4.495144
Unnamed: 7                     2017-07-01 00:00:00                4.450065
Unnamed: 8                     2017-08-01 00:00:00                4.498651
Unnamed: 9                     2017-09-01 00:00:00                4.490517
Unnamed: 10                    2017-10-01 00:00:00                4.532635
Unnamed: 11                    2017-11-01 00:00:00                4.502657
Unnamed: 12                    2017-12-01 00:00:00                4.482602
Unnamed: 13                    2018-01-01 00:00:00                 4.76809
Unnamed: 14                    2018-02-01 00:00:00                4.668661
Unnamed: 15                    2018-03-01 00:00:00                4.579179
Unnamed: 16                    2018-04-01 00:00:00                4.566759
Unnamed: 17                    2018-05-01 00:00:00                4.474224
Unnamed: 18                    2018-06-01 00:00:00                4.430259
Unnamed: 19                    2018-07-01 00:00:00                4.537255
Unnamed: 20                    2018-08-01 00:00:00                4.502768
Unnamed: 21                    2018-09-01 00:00:00                4.412083
Unnamed: 22                    2018-10-01 00:00:00                4.579702
Unnamed: 23                    2018-11-01 00:00:00                4.519122
Unnamed: 24                    2018-12-01 00:00:00                4.511605
Unnamed: 25                    2019-01-01 00:00:00                 4.75714
Unnamed: 26                    2019-02-01 00:00:00                4.663035
Unnamed: 27                    2019-03-01 00:00:00                4.541864
Unnamed: 28                    2019-04-01 00:00:00                4.641102
Unnamed: 29                    2019-05-01 00:00:00                4.588617
Unnamed: 30                    2019-06-01 00:00:00                4.478552
Unnamed: 31                    2019-07-01 00:00:00                4.666151
Unnamed: 32                    2019-08-01 00:00:00                4.525356
Unnamed: 33                    2019-09-01 00:00:00                4.582717
Unnamed: 34                    2019-10-01 00:00:00                4.574284
Unnamed: 35                    2019-11-01 00:00:00                4.583652
Unnamed: 36                    2019-12-01 00:00:00                4.604746
Unnamed: 37                    2020-01-01 00:00:00                 4.48486
Unnamed: 38                    2020-02-01 00:00:00                4.390685
Unnamed: 39                    2020-03-01 00:00:00                4.460801
Unnamed: 40                    2020-04-01 00:00:00                4.487114
Unnamed: 41                    2020-05-01 00:00:00                4.368801
Unnamed: 42                    2020-06-01 00:00:00                4.337316
Unnamed: 43                    2020-07-01 00:00:00                 4.29022
Unnamed: 44                    2020-08-01 00:00:00                4.327083
Unnamed: 45                    2020-09-01 00:00:00                4.354473
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Iowa

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.373808
Unnamed: 2                     2017-02-01 00:00:00                 4.39199
Unnamed: 3                     2017-03-01 00:00:00                4.494703
Unnamed: 4                     2017-04-01 00:00:00                4.348138
Unnamed: 5                     2017-05-01 00:00:00                4.381779
Unnamed: 6                     2017-06-01 00:00:00                4.269868
Unnamed: 7                     2017-07-01 00:00:00                4.262951
Unnamed: 8                     2017-08-01 00:00:00                4.280502
Unnamed: 9                     2017-09-01 00:00:00                4.285542
Unnamed: 10                    2017-10-01 00:00:00                4.306399
Unnamed: 11                    2017-11-01 00:00:00                4.316835
Unnamed: 12                    2017-12-01 00:00:00                4.299062
Unnamed: 13                    2018-01-01 00:00:00                4.481335
Unnamed: 14                    2018-02-01 00:00:00                4.460434
Unnamed: 15                    2018-03-01 00:00:00                4.457171
Unnamed: 16                    2018-04-01 00:00:00                 4.39583
Unnamed: 17                    2018-05-01 00:00:00                4.289413
Unnamed: 18                    2018-06-01 00:00:00                 4.31292
Unnamed: 19                    2018-07-01 00:00:00                4.379401
Unnamed: 20                    2018-08-01 00:00:00                4.316824
Unnamed: 21                    2018-09-01 00:00:00                4.325997
Unnamed: 22                    2018-10-01 00:00:00                4.492856
Unnamed: 23                    2018-11-01 00:00:00                4.430393
Unnamed: 24                    2018-12-01 00:00:00                4.405476
Unnamed: 25                    2019-01-01 00:00:00                4.547492
Unnamed: 26                    2019-02-01 00:00:00                4.564979
Unnamed: 27                    2019-03-01 00:00:00                4.474365
Unnamed: 28                    2019-04-01 00:00:00                4.505601
Unnamed: 29                    2019-05-01 00:00:00                4.414904
Unnamed: 30                    2019-06-01 00:00:00                4.313221
Unnamed: 31                    2019-07-01 00:00:00                4.411184
Unnamed: 32                    2019-08-01 00:00:00                4.342481
Unnamed: 33                    2019-09-01 00:00:00                4.403237
Unnamed: 34                    2019-10-01 00:00:00                4.524016
Unnamed: 35                    2019-11-01 00:00:00                4.380544
Unnamed: 36                    2019-12-01 00:00:00                4.574308
Unnamed: 37                    2020-01-01 00:00:00                4.647713
Unnamed: 38                    2020-02-01 00:00:00                4.583745
Unnamed: 39                    2020-03-01 00:00:00                4.770015
Unnamed: 40                    2020-04-01 00:00:00                4.685634
Unnamed: 41                    2020-05-01 00:00:00                4.596808
Unnamed: 42                    2020-06-01 00:00:00                4.727339
Unnamed: 43                    2020-07-01 00:00:00                 4.63588
Unnamed: 44                    2020-08-01 00:00:00                4.545171
Unnamed: 45                    2020-09-01 00:00:00                4.824018
Unnamed: 46                    2020-10-01 00:00:00                4.846016
Unnamed: 47                    2020-11-01 00:00:00                4.976599
Unnamed: 48                    2020-12-01 00:00:00                5.131369
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Kansas

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.381048
Unnamed: 2                     2017-02-01 00:00:00                4.357305
Unnamed: 3                     2017-03-01 00:00:00                4.396291
Unnamed: 4                     2017-04-01 00:00:00                4.278159
Unnamed: 5                     2017-05-01 00:00:00                4.243835
Unnamed: 6                     2017-06-01 00:00:00                4.277765
Unnamed: 7                     2017-07-01 00:00:00                4.260833
Unnamed: 8                     2017-08-01 00:00:00                 4.21854
Unnamed: 9                     2017-09-01 00:00:00                4.244002
Unnamed: 10                    2017-10-01 00:00:00                4.359319
Unnamed: 11                    2017-11-01 00:00:00                4.297392
Unnamed: 12                    2017-12-01 00:00:00                4.252091
Unnamed: 13                    2018-01-01 00:00:00                4.421295
Unnamed: 14                    2018-02-01 00:00:00                4.444436
Unnamed: 15                    2018-03-01 00:00:00                4.393738
Unnamed: 16                    2018-04-01 00:00:00                4.417004
Unnamed: 17                    2018-05-01 00:00:00                4.272605
Unnamed: 18                    2018-06-01 00:00:00                4.177979
Unnamed: 19                    2018-07-01 00:00:00                4.325495
Unnamed: 20                    2018-08-01 00:00:00                4.311468
Unnamed: 21                    2018-09-01 00:00:00                 4.27083
Unnamed: 22                    2018-10-01 00:00:00                 4.42561
Unnamed: 23                    2018-11-01 00:00:00                4.414771
Unnamed: 24                    2018-12-01 00:00:00                4.305379
Unnamed: 25                    2019-01-01 00:00:00                4.544875
Unnamed: 26                    2019-02-01 00:00:00                4.528556
Unnamed: 27                    2019-03-01 00:00:00                4.326076
Unnamed: 28                    2019-04-01 00:00:00                 4.48752
Unnamed: 29                    2019-05-01 00:00:00                4.441395
Unnamed: 30                    2019-06-01 00:00:00                4.353159
Unnamed: 31                    2019-07-01 00:00:00                4.440163
Unnamed: 32                    2019-08-01 00:00:00                4.351665
Unnamed: 33                    2019-09-01 00:00:00                4.327593
Unnamed: 34                    2019-10-01 00:00:00                4.414086
Unnamed: 35                    2019-11-01 00:00:00                4.300026
Unnamed: 36                    2019-12-01 00:00:00                4.453445
Unnamed: 37                    2020-01-01 00:00:00                4.566019
Unnamed: 38                    2020-02-01 00:00:00                4.509232
Unnamed: 39                    2020-03-01 00:00:00                4.565895
Unnamed: 40                    2020-04-01 00:00:00                 4.65155
Unnamed: 41                    2020-05-01 00:00:00                4.316228
Unnamed: 42                    2020-06-01 00:00:00                4.458248
Unnamed: 43                    2020-07-01 00:00:00                4.474503
Unnamed: 44                    2020-08-01 00:00:00                4.555089
Unnamed: 45                    2020-09-01 00:00:00                 4.64293
Unnamed: 46                    2020-10-01 00:00:00                4.722435
Unnamed: 47                    2020-11-01 00:00:00                4.716547
Unnamed: 48                    2020-12-01 00:00:00                5.025024
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Kentucky

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.638274
Unnamed: 2                     2017-02-01 00:00:00                4.709886
Unnamed: 3                     2017-03-01 00:00:00                4.631269
Unnamed: 4                     2017-04-01 00:00:00                4.631383
Unnamed: 5                     2017-05-01 00:00:00                4.562964
Unnamed: 6                     2017-06-01 00:00:00                4.552832
Unnamed: 7                     2017-07-01 00:00:00                4.495517
Unnamed: 8                     2017-08-01 00:00:00                4.466916
Unnamed: 9                     2017-09-01 00:00:00                4.499754
Unnamed: 10                    2017-10-01 00:00:00                4.553828
Unnamed: 11                    2017-11-01 00:00:00                4.519137
Unnamed: 12                    2017-12-01 00:00:00                4.454108
Unnamed: 13                    2018-01-01 00:00:00                 4.91723
Unnamed: 14                    2018-02-01 00:00:00                4.805017
Unnamed: 15                    2018-03-01 00:00:00                4.666515
Unnamed: 16                    2018-04-01 00:00:00                4.629517
Unnamed: 17                    2018-05-01 00:00:00                 4.50349
Unnamed: 18                    2018-06-01 00:00:00                4.552175
Unnamed: 19                    2018-07-01 00:00:00                4.554515
Unnamed: 20                    2018-08-01 00:00:00                4.531625
Unnamed: 21                    2018-09-01 00:00:00                4.509942
Unnamed: 22                    2018-10-01 00:00:00                4.656524
Unnamed: 23                    2018-11-01 00:00:00                4.565911
Unnamed: 24                    2018-12-01 00:00:00                4.631299
Unnamed: 25                    2019-01-01 00:00:00                4.772929
Unnamed: 26                    2019-02-01 00:00:00                4.635894
Unnamed: 27                    2019-03-01 00:00:00                4.604548
Unnamed: 28                    2019-04-01 00:00:00                4.696511
Unnamed: 29                    2019-05-01 00:00:00                4.582879
Unnamed: 30                    2019-06-01 00:00:00                4.534058
Unnamed: 31                    2019-07-01 00:00:00                4.617212
Unnamed: 32                    2019-08-01 00:00:00                4.482857
Unnamed: 33                    2019-09-01 00:00:00                4.518968
Unnamed: 34                    2019-10-01 00:00:00                4.597525
Unnamed: 35                    2019-11-01 00:00:00                4.598828
Unnamed: 36                    2019-12-01 00:00:00                4.632882
Unnamed: 37                    2020-01-01 00:00:00                4.807314
Unnamed: 38                    2020-02-01 00:00:00                4.720985
Unnamed: 39                    2020-03-01 00:00:00                4.853821
Unnamed: 40                    2020-04-01 00:00:00                4.733352
Unnamed: 41                    2020-05-01 00:00:00                4.553888
Unnamed: 42                    2020-06-01 00:00:00                4.601756
Unnamed: 43                    2020-07-01 00:00:00                4.637875
Unnamed: 44                    2020-08-01 00:00:00                4.816464
Unnamed: 45                    2020-09-01 00:00:00                4.873303
Unnamed: 46                    2020-10-01 00:00:00                4.969023
Unnamed: 47                    2020-11-01 00:00:00                5.089047
Unnamed: 48                    2020-12-01 00:00:00                5.220777
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Louisiana

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.874552
Unnamed: 2                     2017-02-01 00:00:00                4.843993
Unnamed: 3                     2017-03-01 00:00:00                4.951194
Unnamed: 4                     2017-04-01 00:00:00                4.827427
Unnamed: 5                     2017-05-01 00:00:00                4.901048
Unnamed: 6                     2017-06-01 00:00:00                4.787432
Unnamed: 7                     2017-07-01 00:00:00                4.728474
Unnamed: 8                     2017-08-01 00:00:00                4.768434
Unnamed: 9                     2017-09-01 00:00:00                4.737441
Unnamed: 10                    2017-10-01 00:00:00                4.820855
Unnamed: 11                    2017-11-01 00:00:00                 4.86712
Unnamed: 12                    2017-12-01 00:00:00                4.726562
Unnamed: 13                    2018-01-01 00:00:00                5.069121
Unnamed: 14                    2018-02-01 00:00:00                4.956625
Unnamed: 15                    2018-03-01 00:00:00                4.813616
Unnamed: 16                    2018-04-01 00:00:00                 4.91896
Unnamed: 17                    2018-05-01 00:00:00                4.850233
Unnamed: 18                    2018-06-01 00:00:00                    4.71
Unnamed: 19                    2018-07-01 00:00:00                4.762823
Unnamed: 20                    2018-08-01 00:00:00                4.752264
Unnamed: 21                    2018-09-01 00:00:00                4.768107
Unnamed: 22                    2018-10-01 00:00:00                4.951287
Unnamed: 23                    2018-11-01 00:00:00                4.899602
Unnamed: 24                    2018-12-01 00:00:00                4.857307
Unnamed: 25                    2019-01-01 00:00:00                5.150691
Unnamed: 26                    2019-02-01 00:00:00                5.066821
Unnamed: 27                    2019-03-01 00:00:00                5.015033
Unnamed: 28                    2019-04-01 00:00:00                 5.03786
Unnamed: 29                    2019-05-01 00:00:00                4.990321
Unnamed: 30                    2019-06-01 00:00:00                4.891567
Unnamed: 31                    2019-07-01 00:00:00                5.006284
Unnamed: 32                    2019-08-01 00:00:00                4.882606
Unnamed: 33                    2019-09-01 00:00:00                 4.90209
Unnamed: 34                    2019-10-01 00:00:00                4.908849
Unnamed: 35                    2019-11-01 00:00:00                4.900515
Unnamed: 36                    2019-12-01 00:00:00                 5.06107
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Maine

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.863692
Unnamed: 2                     2017-02-01 00:00:00                 4.86628
Unnamed: 3                     2017-03-01 00:00:00                 4.61494
Unnamed: 4                     2017-04-01 00:00:00                4.527698
Unnamed: 5                     2017-05-01 00:00:00                4.453315
Unnamed: 6                     2017-06-01 00:00:00                4.551536
Unnamed: 7                     2017-07-01 00:00:00                4.513032
Unnamed: 8                     2017-08-01 00:00:00                4.575356
Unnamed: 9                     2017-09-01 00:00:00                4.474046
Unnamed: 10                    2017-10-01 00:00:00                4.504391
Unnamed: 11                    2017-11-01 00:00:00                4.649859
Unnamed: 12                    2017-12-01 00:00:00                4.489408
Unnamed: 13                    2018-01-01 00:00:00                4.893175
Unnamed: 14                    2018-02-01 00:00:00                4.830464
Unnamed: 15                    2018-03-01 00:00:00                4.727584
Unnamed: 16                    2018-04-01 00:00:00                 4.63419
Unnamed: 17                    2018-05-01 00:00:00                4.572982
Unnamed: 18                    2018-06-01 00:00:00                4.483251
Unnamed: 19                    2018-07-01 00:00:00                4.589961
Unnamed: 20                    2018-08-01 00:00:00                4.492964
Unnamed: 21                    2018-09-01 00:00:00                4.626721
Unnamed: 22                    2018-10-01 00:00:00                4.786753
Unnamed: 23                    2018-11-01 00:00:00                4.792513
Unnamed: 24                    2018-12-01 00:00:00                4.831228
Unnamed: 25                    2019-01-01 00:00:00                4.931881
Unnamed: 26                    2019-02-01 00:00:00                5.077426
Unnamed: 27                    2019-03-01 00:00:00                4.751172
Unnamed: 28                    2019-04-01 00:00:00                4.910085
Unnamed: 29                    2019-05-01 00:00:00                4.779495
Unnamed: 30                    2019-06-01 00:00:00                4.742443
Unnamed: 31                    2019-07-01 00:00:00                4.760538
Unnamed: 32                    2019-08-01 00:00:00                4.773362
Unnamed: 33                    2019-09-01 00:00:00                4.890548
Unnamed: 34                    2019-10-01 00:00:00                4.972934
Unnamed: 35                    2019-11-01 00:00:00                4.800352
Unnamed: 36                    2019-12-01 00:00:00                5.040576
Unnamed: 37                    2020-01-01 00:00:00                4.656719
Unnamed: 38                    2020-02-01 00:00:00                4.529458
Unnamed: 39                    2020-03-01 00:00:00                 4.69998
Unnamed: 40                    2020-04-01 00:00:00                4.497084
Unnamed: 41                    2020-05-01 00:00:00                4.387327
Unnamed: 42                    2020-06-01 00:00:00                4.336771
Unnamed: 43                    2020-07-01 00:00:00                4.328034
Unnamed: 44                    2020-08-01 00:00:00                4.453966
Unnamed: 45                    2020-09-01 00:00:00                4.439898
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Maryland

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.669683
Unnamed: 2                     2017-02-01 00:00:00                4.646422
Unnamed: 3                     2017-03-01 00:00:00                4.658668
Unnamed: 4                     2017-04-01 00:00:00                4.505752
Unnamed: 5                     2017-05-01 00:00:00                4.598143
Unnamed: 6                     2017-06-01 00:00:00                4.533108
Unnamed: 7                     2017-07-01 00:00:00                4.505493
Unnamed: 8                     2017-08-01 00:00:00                4.570286
Unnamed: 9                     2017-09-01 00:00:00                4.524026
Unnamed: 10                    2017-10-01 00:00:00                4.533813
Unnamed: 11                    2017-11-01 00:00:00                4.553859
Unnamed: 12                    2017-12-01 00:00:00                 4.48682
Unnamed: 13                    2018-01-01 00:00:00                  4.8138
Unnamed: 14                    2018-02-01 00:00:00                4.753556
Unnamed: 15                    2018-03-01 00:00:00                4.628805
Unnamed: 16                    2018-04-01 00:00:00                4.599402
Unnamed: 17                    2018-05-01 00:00:00                4.563047
Unnamed: 18                    2018-06-01 00:00:00                 4.62357
Unnamed: 19                    2018-07-01 00:00:00                4.700262
Unnamed: 20                    2018-08-01 00:00:00                4.626112
Unnamed: 21                    2018-09-01 00:00:00                4.579497
Unnamed: 22                    2018-10-01 00:00:00                4.731719
Unnamed: 23                    2018-11-01 00:00:00                 4.79535
Unnamed: 24                    2018-12-01 00:00:00                4.790025
Unnamed: 25                    2019-01-01 00:00:00                 4.87431
Unnamed: 26                    2019-02-01 00:00:00                4.915649
Unnamed: 27                    2019-03-01 00:00:00                4.861587
Unnamed: 28                    2019-04-01 00:00:00                4.846453
Unnamed: 29                    2019-05-01 00:00:00                4.729993
Unnamed: 30                    2019-06-01 00:00:00                4.691909
Unnamed: 31                    2019-07-01 00:00:00                4.763142
Unnamed: 32                    2019-08-01 00:00:00                4.673248
Unnamed: 33                    2019-09-01 00:00:00                4.680455
Unnamed: 34                    2019-10-01 00:00:00                4.758951
Unnamed: 35                    2019-11-01 00:00:00                4.651042
Unnamed: 36                    2019-12-01 00:00:00                4.762563
Unnamed: 37                    2020-01-01 00:00:00                4.408481
Unnamed: 38                    2020-02-01 00:00:00                4.377147
Unnamed: 39                    2020-03-01 00:00:00                4.475441
Unnamed: 40                    2020-04-01 00:00:00                4.486016
Unnamed: 41                    2020-05-01 00:00:00                4.606985
Unnamed: 42                    2020-06-01 00:00:00                4.494459
Unnamed: 43                    2020-07-01 00:00:00                4.303602
Unnamed: 44                    2020-08-01 00:00:00                4.324617
Unnamed: 45                    2020-09-01 00:00:00                4.424176
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Massachusetts

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.839652
Unnamed: 2                     2017-02-01 00:00:00                 4.83583
Unnamed: 3                     2017-03-01 00:00:00                4.808057
Unnamed: 4                     2017-04-01 00:00:00                4.705994
Unnamed: 5                     2017-05-01 00:00:00                4.755979
Unnamed: 6                     2017-06-01 00:00:00                4.698165
Unnamed: 7                     2017-07-01 00:00:00                4.709449
Unnamed: 8                     2017-08-01 00:00:00                4.768165
Unnamed: 9                     2017-09-01 00:00:00                4.706401
Unnamed: 10                    2017-10-01 00:00:00                4.817605
Unnamed: 11                    2017-11-01 00:00:00                 4.83433
Unnamed: 12                    2017-12-01 00:00:00                4.759485
Unnamed: 13                    2018-01-01 00:00:00                5.009105
Unnamed: 14                    2018-02-01 00:00:00                4.922527
Unnamed: 15                    2018-03-01 00:00:00                4.936622
Unnamed: 16                    2018-04-01 00:00:00                4.925214
Unnamed: 17                    2018-05-01 00:00:00                4.821487
Unnamed: 18                    2018-06-01 00:00:00                4.745304
Unnamed: 19                    2018-07-01 00:00:00                4.861197
Unnamed: 20                    2018-08-01 00:00:00                4.830907
Unnamed: 21                    2018-09-01 00:00:00                4.776265
Unnamed: 22                    2018-10-01 00:00:00                4.969065
Unnamed: 23                    2018-11-01 00:00:00                4.971938
Unnamed: 24                    2018-12-01 00:00:00                4.965796
Unnamed: 25                    2019-01-01 00:00:00                5.064324
Unnamed: 26                    2019-02-01 00:00:00                5.037142
Unnamed: 27                    2019-03-01 00:00:00                4.886758
Unnamed: 28                    2019-04-01 00:00:00                4.983077
Unnamed: 29                    2019-05-01 00:00:00                4.837201
Unnamed: 30                    2019-06-01 00:00:00                4.781407
Unnamed: 31                    2019-07-01 00:00:00                4.858852
Unnamed: 32                    2019-08-01 00:00:00                4.804161
Unnamed: 33                    2019-09-01 00:00:00                 4.80191
Unnamed: 34                    2019-10-01 00:00:00                4.970152
Unnamed: 35                    2019-11-01 00:00:00                4.968448
Unnamed: 36                    2019-12-01 00:00:00                5.026212
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Michigan

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.612768
Unnamed: 2                     2017-02-01 00:00:00                4.570787
Unnamed: 3                     2017-03-01 00:00:00                4.650929
Unnamed: 4                     2017-04-01 00:00:00                 4.47193
Unnamed: 5                     2017-05-01 00:00:00                4.529585
Unnamed: 6                     2017-06-01 00:00:00                4.498419
Unnamed: 7                     2017-07-01 00:00:00                4.476743
Unnamed: 8                     2017-08-01 00:00:00                4.511831
Unnamed: 9                     2017-09-01 00:00:00                4.467932
Unnamed: 10                    2017-10-01 00:00:00                4.538456
Unnamed: 11                    2017-11-01 00:00:00                4.580395
Unnamed: 12                    2017-12-01 00:00:00                4.508253
Unnamed: 13                    2018-01-01 00:00:00                4.765402
Unnamed: 14                    2018-02-01 00:00:00                4.704815
Unnamed: 15                    2018-03-01 00:00:00                 4.56689
Unnamed: 16                    2018-04-01 00:00:00                 4.60685
Unnamed: 17                    2018-05-01 00:00:00                4.543437
Unnamed: 18                    2018-06-01 00:00:00                4.465477
Unnamed: 19                    2018-07-01 00:00:00                4.521539
Unnamed: 20                    2018-08-01 00:00:00                 4.51307
Unnamed: 21                    2018-09-01 00:00:00                4.473596
Unnamed: 22                    2018-10-01 00:00:00                4.633454
Unnamed: 23                    2018-11-01 00:00:00                4.649289
Unnamed: 24                    2018-12-01 00:00:00                4.551265
Unnamed: 25                    2019-01-01 00:00:00                4.834206
Unnamed: 26                    2019-02-01 00:00:00                4.766906
Unnamed: 27                    2019-03-01 00:00:00                4.682335
Unnamed: 28                    2019-04-01 00:00:00                4.752773
Unnamed: 29                    2019-05-01 00:00:00                4.628025
Unnamed: 30                    2019-06-01 00:00:00                4.568779
Unnamed: 31                    2019-07-01 00:00:00                4.640898
Unnamed: 32                    2019-08-01 00:00:00                4.626967
Unnamed: 33                    2019-09-01 00:00:00                4.613454
Unnamed: 34                    2019-10-01 00:00:00                4.691241
Unnamed: 35                    2019-11-01 00:00:00                4.654245
Unnamed: 36                    2019-12-01 00:00:00                4.685591
Unnamed: 37                    2020-01-01 00:00:00                4.586328
Unnamed: 38                    2020-02-01 00:00:00                4.528805
Unnamed: 39                    2020-03-01 00:00:00                4.666565
Unnamed: 40                    2020-04-01 00:00:00                4.902132
Unnamed: 41                    2020-05-01 00:00:00                4.527088
Unnamed: 42                    2020-06-01 00:00:00                4.408365
Unnamed: 43                    2020-07-01 00:00:00                4.475332
Unnamed: 44                    2020-08-01 00:00:00                4.496283
Unnamed: 45                    2020-09-01 00:00:00                4.581237
Unnamed: 46                    2020-10-01 00:00:00                4.650734
Unnamed: 47                    2020-11-01 00:00:00                4.817732
Unnamed: 48                    2020-12-01 00:00:00                4.996696
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Minnesota

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.302873
Unnamed: 2                     2017-02-01 00:00:00                 4.28176
Unnamed: 3                     2017-03-01 00:00:00                4.324615
Unnamed: 4                     2017-04-01 00:00:00                4.205229
Unnamed: 5                     2017-05-01 00:00:00                4.191883
Unnamed: 6                     2017-06-01 00:00:00                4.133952
Unnamed: 7                     2017-07-01 00:00:00                4.135966
Unnamed: 8                     2017-08-01 00:00:00                4.260447
Unnamed: 9                     2017-09-01 00:00:00                4.170905
Unnamed: 10                    2017-10-01 00:00:00                4.265102
Unnamed: 11                    2017-11-01 00:00:00                4.285757
Unnamed: 12                    2017-12-01 00:00:00                  4.1994
Unnamed: 13                    2018-01-01 00:00:00                4.404077
Unnamed: 14                    2018-02-01 00:00:00                4.373563
Unnamed: 15                    2018-03-01 00:00:00                4.260301
Unnamed: 16                    2018-04-01 00:00:00                4.278651
Unnamed: 17                    2018-05-01 00:00:00                4.245448
Unnamed: 18                    2018-06-01 00:00:00                4.132281
Unnamed: 19                    2018-07-01 00:00:00                4.221388
Unnamed: 20                    2018-08-01 00:00:00                4.199905
Unnamed: 21                    2018-09-01 00:00:00                4.175366
Unnamed: 22                    2018-10-01 00:00:00                  4.4321
Unnamed: 23                    2018-11-01 00:00:00                4.332128
Unnamed: 24                    2018-12-01 00:00:00                4.254782
Unnamed: 25                    2019-01-01 00:00:00                4.470025
Unnamed: 26                    2019-02-01 00:00:00                4.571149
Unnamed: 27                    2019-03-01 00:00:00                 4.43964
Unnamed: 28                    2019-04-01 00:00:00                4.424213
Unnamed: 29                    2019-05-01 00:00:00                4.348468
Unnamed: 30                    2019-06-01 00:00:00                4.218104
Unnamed: 31                    2019-07-01 00:00:00                4.371517
Unnamed: 32                    2019-08-01 00:00:00                4.307923
Unnamed: 33                    2019-09-01 00:00:00                4.280275
Unnamed: 34                    2019-10-01 00:00:00                4.399743
Unnamed: 35                    2019-11-01 00:00:00                 4.31253
Unnamed: 36                    2019-12-01 00:00:00                4.424342
Unnamed: 37                    2020-01-01 00:00:00                4.082947
Unnamed: 38                    2020-02-01 00:00:00                4.047461
Unnamed: 39                    2020-03-01 00:00:00                4.101551
Unnamed: 40                    2020-04-01 00:00:00                3.966553
Unnamed: 41                    2020-05-01 00:00:00                  3.9006
Unnamed: 42                    2020-06-01 00:00:00                3.936774
Unnamed: 43                    2020-07-01 00:00:00                3.912564
Unnamed: 44                    2020-08-01 00:00:00                3.953552
Unnamed: 45                    2020-09-01 00:00:00                4.022804
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Mississippi

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.859038
Unnamed: 2                     2017-02-01 00:00:00                4.815554
Unnamed: 3                     2017-03-01 00:00:00                4.779727
Unnamed: 4                     2017-04-01 00:00:00                4.762575
Unnamed: 5                     2017-05-01 00:00:00                4.807481
Unnamed: 6                     2017-06-01 00:00:00                4.699071
Unnamed: 7                     2017-07-01 00:00:00                4.689937
Unnamed: 8                     2017-08-01 00:00:00                4.671905
Unnamed: 9                     2017-09-01 00:00:00                4.657924
Unnamed: 10                    2017-10-01 00:00:00                 4.68184
Unnamed: 11                    2017-11-01 00:00:00                4.721785
Unnamed: 12                    2017-12-01 00:00:00                4.648416
Unnamed: 13                    2018-01-01 00:00:00                4.988058
Unnamed: 14                    2018-02-01 00:00:00                4.942756
Unnamed: 15                    2018-03-01 00:00:00                4.764035
Unnamed: 16                    2018-04-01 00:00:00                4.748513
Unnamed: 17                    2018-05-01 00:00:00                4.748385
Unnamed: 18                    2018-06-01 00:00:00                4.663819
Unnamed: 19                    2018-07-01 00:00:00                4.751002
Unnamed: 20                    2018-08-01 00:00:00                4.645163
Unnamed: 21                    2018-09-01 00:00:00                4.674289
Unnamed: 22                    2018-10-01 00:00:00                4.810268
Unnamed: 23                    2018-11-01 00:00:00                4.842194
Unnamed: 24                    2018-12-01 00:00:00                4.755651
Unnamed: 25                    2019-01-01 00:00:00                4.984373
Unnamed: 26                    2019-02-01 00:00:00                5.041551
Unnamed: 27                    2019-03-01 00:00:00                4.988382
Unnamed: 28                    2019-04-01 00:00:00                5.028861
Unnamed: 29                    2019-05-01 00:00:00                4.924614
Unnamed: 30                    2019-06-01 00:00:00                4.892102
Unnamed: 31                    2019-07-01 00:00:00                4.912617
Unnamed: 32                    2019-08-01 00:00:00                4.832445
Unnamed: 33                    2019-09-01 00:00:00                4.837146
Unnamed: 34                    2019-10-01 00:00:00                 4.84027
Unnamed: 35                    2019-11-01 00:00:00                4.800376
Unnamed: 36                    2019-12-01 00:00:00                4.994365
Unnamed: 37                    2020-01-01 00:00:00                4.629831
Unnamed: 38                    2020-02-01 00:00:00                4.578258
Unnamed: 39                    2020-03-01 00:00:00                4.762209
Unnamed: 40                    2020-04-01 00:00:00                4.689452
Unnamed: 41                    2020-05-01 00:00:00                 4.51052
Unnamed: 42                    2020-06-01 00:00:00                4.616144
Unnamed: 43                    2020-07-01 00:00:00                4.710781
Unnamed: 44                    2020-08-01 00:00:00                4.721248
Unnamed: 45                    2020-09-01 00:00:00                 4.72812
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Missouri

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.82302
Unnamed: 2                     2017-02-01 00:00:00                4.758033
Unnamed: 3                     2017-03-01 00:00:00                4.701388
Unnamed: 4                     2017-04-01 00:00:00                4.678525
Unnamed: 5                     2017-05-01 00:00:00                4.734166
Unnamed: 6                     2017-06-01 00:00:00                4.737337
Unnamed: 7                     2017-07-01 00:00:00                4.729062
Unnamed: 8                     2017-08-01 00:00:00                4.718744
Unnamed: 9                     2017-09-01 00:00:00                 4.67256
Unnamed: 10                    2017-10-01 00:00:00                4.724452
Unnamed: 11                    2017-11-01 00:00:00                4.687282
Unnamed: 12                    2017-12-01 00:00:00                4.678569
Unnamed: 13                    2018-01-01 00:00:00                4.958708
Unnamed: 14                    2018-02-01 00:00:00                4.878565
Unnamed: 15                    2018-03-01 00:00:00                4.824273
Unnamed: 16                    2018-04-01 00:00:00                4.747839
Unnamed: 17                    2018-05-01 00:00:00                 4.66452
Unnamed: 18                    2018-06-01 00:00:00                 4.62807
Unnamed: 19                    2018-07-01 00:00:00                 4.70806
Unnamed: 20                    2018-08-01 00:00:00                4.687972
Unnamed: 21                    2018-09-01 00:00:00                4.667897
Unnamed: 22                    2018-10-01 00:00:00                4.764342
Unnamed: 23                    2018-11-01 00:00:00                4.766949
Unnamed: 24                    2018-12-01 00:00:00                4.679714
Unnamed: 25                    2019-01-01 00:00:00                4.886448
Unnamed: 26                    2019-02-01 00:00:00                4.928121
Unnamed: 27                    2019-03-01 00:00:00                4.823453
Unnamed: 28                    2019-04-01 00:00:00                4.896003
Unnamed: 29                    2019-05-01 00:00:00                4.868515
Unnamed: 30                    2019-06-01 00:00:00                4.720222
Unnamed: 31                    2019-07-01 00:00:00                4.876462
Unnamed: 32                    2019-08-01 00:00:00                4.761237
Unnamed: 33                    2019-09-01 00:00:00                4.795567
Unnamed: 34                    2019-10-01 00:00:00                4.887792
Unnamed: 35                    2019-11-01 00:00:00                4.803525
Unnamed: 36                    2019-12-01 00:00:00                4.858516
Unnamed: 37                    2020-01-01 00:00:00                4.540563
Unnamed: 38                    2020-02-01 00:00:00                4.493843
Unnamed: 39                    2020-03-01 00:00:00                4.625773
Unnamed: 40                    2020-04-01 00:00:00                4.489214
Unnamed: 41                    2020-05-01 00:00:00                4.406185
Unnamed: 42                    2020-06-01 00:00:00                 4.39534
Unnamed: 43                    2020-07-01 00:00:00                4.494534
Unnamed: 44                    2020-08-01 00:00:00                4.464523
Unnamed: 45                    2020-09-01 00:00:00                4.638382
Unnamed: 46                    2020-10-01 00:00:00                4.755915
Unnamed: 47                    2020-11-01 00:00:00                4.884738
Unnamed: 48                    2020-12-01 00:00:00                4.977821
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Montana

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.114236
Unnamed: 2                     2017-02-01 00:00:00                4.013197
Unnamed: 3                     2017-03-01 00:00:00                4.049479
Unnamed: 4                     2017-04-01 00:00:00                4.106149
Unnamed: 5                     2017-05-01 00:00:00                3.980837
Unnamed: 6                     2017-06-01 00:00:00                 3.90727
Unnamed: 7                     2017-07-01 00:00:00                3.995705
Unnamed: 8                     2017-08-01 00:00:00                3.885725
Unnamed: 9                     2017-09-01 00:00:00                3.981317
Unnamed: 10                    2017-10-01 00:00:00                4.028852
Unnamed: 11                    2017-11-01 00:00:00                3.978264
Unnamed: 12                    2017-12-01 00:00:00                3.979037
Unnamed: 13                    2018-01-01 00:00:00                4.130345
Unnamed: 14                    2018-02-01 00:00:00                4.051149
Unnamed: 15                    2018-03-01 00:00:00                4.037313
Unnamed: 16                    2018-04-01 00:00:00                3.955443
Unnamed: 17                    2018-05-01 00:00:00                3.947182
Unnamed: 18                    2018-06-01 00:00:00                3.938482
Unnamed: 19                    2018-07-01 00:00:00                3.994532
Unnamed: 20                    2018-08-01 00:00:00                 3.98523
Unnamed: 21                    2018-09-01 00:00:00                3.980193
Unnamed: 22                    2018-10-01 00:00:00                 4.02543
Unnamed: 23                    2018-11-01 00:00:00                4.074554
Unnamed: 24                    2018-12-01 00:00:00                3.942916
Unnamed: 25                    2019-01-01 00:00:00                4.211941
Unnamed: 26                    2019-02-01 00:00:00                4.158364
Unnamed: 27                    2019-03-01 00:00:00                4.079974
Unnamed: 28                    2019-04-01 00:00:00                4.117074
Unnamed: 29                    2019-05-01 00:00:00                4.033565
Unnamed: 30                    2019-06-01 00:00:00                3.841963
Unnamed: 31                    2019-07-01 00:00:00                4.083373
Unnamed: 32                    2019-08-01 00:00:00                3.951012
Unnamed: 33                    2019-09-01 00:00:00                4.022845
Unnamed: 34                    2019-10-01 00:00:00                4.202957
Unnamed: 35                    2019-11-01 00:00:00                4.182161
Unnamed: 36                    2019-12-01 00:00:00                4.087732
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Nebraska

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.418242
Unnamed: 2                     2017-02-01 00:00:00                4.548296
Unnamed: 3                     2017-03-01 00:00:00                4.512734
Unnamed: 4                     2017-04-01 00:00:00                4.355143
Unnamed: 5                     2017-05-01 00:00:00                4.452001
Unnamed: 6                     2017-06-01 00:00:00                4.348666
Unnamed: 7                     2017-07-01 00:00:00                4.300752
Unnamed: 8                     2017-08-01 00:00:00                4.320683
Unnamed: 9                     2017-09-01 00:00:00                4.221634
Unnamed: 10                    2017-10-01 00:00:00                4.415282
Unnamed: 11                    2017-11-01 00:00:00                4.360989
Unnamed: 12                    2017-12-01 00:00:00                4.218502
Unnamed: 13                    2018-01-01 00:00:00                4.514723
Unnamed: 14                    2018-02-01 00:00:00                4.513321
Unnamed: 15                    2018-03-01 00:00:00                4.397617
Unnamed: 16                    2018-04-01 00:00:00                4.466244
Unnamed: 17                    2018-05-01 00:00:00                4.332185
Unnamed: 18                    2018-06-01 00:00:00                4.396914
Unnamed: 19                    2018-07-01 00:00:00                4.466039
Unnamed: 20                    2018-08-01 00:00:00                4.372766
Unnamed: 21                    2018-09-01 00:00:00                4.390087
Unnamed: 22                    2018-10-01 00:00:00                4.532325
Unnamed: 23                    2018-11-01 00:00:00                4.480578
Unnamed: 24                    2018-12-01 00:00:00                4.395077
Unnamed: 25                    2019-01-01 00:00:00                4.628234
Unnamed: 26                    2019-02-01 00:00:00                4.595688
Unnamed: 27                    2019-03-01 00:00:00                 4.57297
Unnamed: 28                    2019-04-01 00:00:00                4.579748
Unnamed: 29                    2019-05-01 00:00:00                 4.41247
Unnamed: 30                    2019-06-01 00:00:00                4.425808
Unnamed: 31                    2019-07-01 00:00:00                4.601208
Unnamed: 32                    2019-08-01 00:00:00                4.371802
Unnamed: 33                    2019-09-01 00:00:00                4.435476
Unnamed: 34                    2019-10-01 00:00:00                4.448078
Unnamed: 35                    2019-11-01 00:00:00                4.426829
Unnamed: 36                    2019-12-01 00:00:00                4.511772
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Nevada

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.82137
Unnamed: 2                     2017-02-01 00:00:00                4.855392
Unnamed: 3                     2017-03-01 00:00:00                4.747998
Unnamed: 4                     2017-04-01 00:00:00                4.637702
Unnamed: 5                     2017-05-01 00:00:00                 4.64019
Unnamed: 6                     2017-06-01 00:00:00                4.694168
Unnamed: 7                     2017-07-01 00:00:00                4.521191
Unnamed: 8                     2017-08-01 00:00:00                4.605795
Unnamed: 9                     2017-09-01 00:00:00                4.594576
Unnamed: 10                    2017-10-01 00:00:00                4.551659
Unnamed: 11                    2017-11-01 00:00:00                4.612395
Unnamed: 12                    2017-12-01 00:00:00                4.651188
Unnamed: 13                    2018-01-01 00:00:00                4.867565
Unnamed: 14                    2018-02-01 00:00:00                4.688379
Unnamed: 15                    2018-03-01 00:00:00                4.633209
Unnamed: 16                    2018-04-01 00:00:00                4.632342
Unnamed: 17                    2018-05-01 00:00:00                4.572229
Unnamed: 18                    2018-06-01 00:00:00                 4.68651
Unnamed: 19                    2018-07-01 00:00:00                4.580652
Unnamed: 20                    2018-08-01 00:00:00                4.584445
Unnamed: 21                    2018-09-01 00:00:00                 4.43376
Unnamed: 22                    2018-10-01 00:00:00                4.587649
Unnamed: 23                    2018-11-01 00:00:00                4.631138
Unnamed: 24                    2018-12-01 00:00:00                4.564738
Unnamed: 25                    2019-01-01 00:00:00                4.796322
Unnamed: 26                    2019-02-01 00:00:00                4.699591
Unnamed: 27                    2019-03-01 00:00:00                4.651655
Unnamed: 28                    2019-04-01 00:00:00                4.859535
Unnamed: 29                    2019-05-01 00:00:00                4.692957
Unnamed: 30                    2019-06-01 00:00:00                 4.58318
Unnamed: 31                    2019-07-01 00:00:00                4.595881
Unnamed: 32                    2019-08-01 00:00:00                4.484041
Unnamed: 33                    2019-09-01 00:00:00                4.588224
Unnamed: 34                    2019-10-01 00:00:00                4.722208
Unnamed: 35                    2019-11-01 00:00:00                4.562491
Unnamed: 36                    2019-12-01 00:00:00                4.835377
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

New Jersey

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.94948
Unnamed: 2                     2017-02-01 00:00:00                4.931049
Unnamed: 3                     2017-03-01 00:00:00                4.900468
Unnamed: 4                     2017-04-01 00:00:00                4.770431
Unnamed: 5                     2017-05-01 00:00:00                4.771798
Unnamed: 6                     2017-06-01 00:00:00                4.757662
Unnamed: 7                     2017-07-01 00:00:00                4.677287
Unnamed: 8                     2017-08-01 00:00:00                 4.72264
Unnamed: 9                     2017-09-01 00:00:00                4.704081
Unnamed: 10                    2017-10-01 00:00:00                4.774536
Unnamed: 11                    2017-11-01 00:00:00                 4.79169
Unnamed: 12                    2017-12-01 00:00:00                4.732938
Unnamed: 13                    2018-01-01 00:00:00                4.996646
Unnamed: 14                    2018-02-01 00:00:00                4.932582
Unnamed: 15                    2018-03-01 00:00:00                4.830886
Unnamed: 16                    2018-04-01 00:00:00                4.877571
Unnamed: 17                    2018-05-01 00:00:00                4.813451
Unnamed: 18                    2018-06-01 00:00:00                4.713307
Unnamed: 19                    2018-07-01 00:00:00                4.778504
Unnamed: 20                    2018-08-01 00:00:00                 4.71413
Unnamed: 21                    2018-09-01 00:00:00                4.774603
Unnamed: 22                    2018-10-01 00:00:00                4.887457
Unnamed: 23                    2018-11-01 00:00:00                4.946154
Unnamed: 24                    2018-12-01 00:00:00                4.897324
Unnamed: 25                    2019-01-01 00:00:00                5.055668
Unnamed: 26                    2019-02-01 00:00:00                5.060985
Unnamed: 27                    2019-03-01 00:00:00                4.971554
Unnamed: 28                    2019-04-01 00:00:00                4.958645
Unnamed: 29                    2019-05-01 00:00:00                4.871388
Unnamed: 30                    2019-06-01 00:00:00                4.833898
Unnamed: 31                    2019-07-01 00:00:00                4.885527
Unnamed: 32                    2019-08-01 00:00:00                4.802789
Unnamed: 33                    2019-09-01 00:00:00                4.876144
Unnamed: 34                    2019-10-01 00:00:00                4.938195
Unnamed: 35                    2019-11-01 00:00:00                4.919497
Unnamed: 36                    2019-12-01 00:00:00                4.971224
Unnamed: 37                    2020-01-01 00:00:00                4.694506
Unnamed: 38                    2020-02-01 00:00:00                4.654614
Unnamed: 39                    2020-03-01 00:00:00                 4.71174
Unnamed: 40                    2020-04-01 00:00:00                5.329687
Unnamed: 41                    2020-05-01 00:00:00                5.037025
Unnamed: 42                    2020-06-01 00:00:00                 4.49767
Unnamed: 43                    2020-07-01 00:00:00                4.452132
Unnamed: 44                    2020-08-01 00:00:00                 4.44816
Unnamed: 45                    2020-09-01 00:00:00                4.456801
Unnamed: 46                    2020-10-01 00:00:00                4.583857
Unnamed: 47                    2020-11-01 00:00:00                4.684073
Unnamed: 48                    2020-12-01 00:00:00                4.842648
Unnamed: 49                    2021-01-01 00:00:00                5.025138
Unnamed: 50                    2021-02-01 00:00:00                5.004935
Unnamed: 51                    2021-03-01 00:00:00                4.904705

New Mexico

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.735356
Unnamed: 2                     2017-02-01 00:00:00                4.571218
Unnamed: 3                     2017-03-01 00:00:00                4.711352
Unnamed: 4                     2017-04-01 00:00:00                4.622761
Unnamed: 5                     2017-05-01 00:00:00                4.675993
Unnamed: 6                     2017-06-01 00:00:00                 4.69281
Unnamed: 7                     2017-07-01 00:00:00                4.476627
Unnamed: 8                     2017-08-01 00:00:00                 4.60293
Unnamed: 9                     2017-09-01 00:00:00                 4.52533
Unnamed: 10                    2017-10-01 00:00:00                 4.54986
Unnamed: 11                    2017-11-01 00:00:00                4.611368
Unnamed: 12                    2017-12-01 00:00:00                4.475909
Unnamed: 13                    2018-01-01 00:00:00                4.625909
Unnamed: 14                    2018-02-01 00:00:00                4.601589
Unnamed: 15                    2018-03-01 00:00:00                4.510812
Unnamed: 16                    2018-04-01 00:00:00                4.576835
Unnamed: 17                    2018-05-01 00:00:00                4.468051
Unnamed: 18                    2018-06-01 00:00:00                4.436423
Unnamed: 19                    2018-07-01 00:00:00                4.291902
Unnamed: 20                    2018-08-01 00:00:00                4.373607
Unnamed: 21                    2018-09-01 00:00:00                4.223916
Unnamed: 22                    2018-10-01 00:00:00                4.494595
Unnamed: 23                    2018-11-01 00:00:00                4.365596
Unnamed: 24                    2018-12-01 00:00:00                4.388105
Unnamed: 25                    2019-01-01 00:00:00                4.585409
Unnamed: 26                    2019-02-01 00:00:00                4.389591
Unnamed: 27                    2019-03-01 00:00:00                4.483202
Unnamed: 28                    2019-04-01 00:00:00                 4.50318
Unnamed: 29                    2019-05-01 00:00:00                4.508101
Unnamed: 30                    2019-06-01 00:00:00                4.440851
Unnamed: 31                    2019-07-01 00:00:00                4.373364
Unnamed: 32                    2019-08-01 00:00:00                4.312473
Unnamed: 33                    2019-09-01 00:00:00                4.271828
Unnamed: 34                    2019-10-01 00:00:00                4.399875
Unnamed: 35                    2019-11-01 00:00:00                4.404433
Unnamed: 36                    2019-12-01 00:00:00                4.489001
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

New York

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 5.56019
Unnamed: 2                     2017-02-01 00:00:00                5.505724
Unnamed: 3                     2017-03-01 00:00:00                 5.49336
Unnamed: 4                     2017-04-01 00:00:00                5.254679
Unnamed: 5                     2017-05-01 00:00:00                5.315286
Unnamed: 6                     2017-06-01 00:00:00                5.310479
Unnamed: 7                     2017-07-01 00:00:00                5.242884
Unnamed: 8                     2017-08-01 00:00:00                5.356918
Unnamed: 9                     2017-09-01 00:00:00                5.266203
Unnamed: 10                    2017-10-01 00:00:00                5.305139
Unnamed: 11                    2017-11-01 00:00:00                5.321692
Unnamed: 12                    2017-12-01 00:00:00                5.351915
Unnamed: 13                    2018-01-01 00:00:00
Unnamed: 14                    2018-02-01 00:00:00
Unnamed: 15                    2018-03-01 00:00:00
Unnamed: 16                    2018-04-01 00:00:00
Unnamed: 17                    2018-05-01 00:00:00
Unnamed: 18                    2018-06-01 00:00:00
Unnamed: 19                    2018-07-01 00:00:00
Unnamed: 20                    2018-08-01 00:00:00
Unnamed: 21                    2018-09-01 00:00:00
Unnamed: 22                    2018-10-01 00:00:00
Unnamed: 23                    2018-11-01 00:00:00
Unnamed: 24                    2018-12-01 00:00:00
Unnamed: 25                    2019-01-01 00:00:00
Unnamed: 26                    2019-02-01 00:00:00
Unnamed: 27                    2019-03-01 00:00:00
Unnamed: 28                    2019-04-01 00:00:00
Unnamed: 29                    2019-05-01 00:00:00
Unnamed: 30                    2019-06-01 00:00:00
Unnamed: 31                    2019-07-01 00:00:00
Unnamed: 32                    2019-08-01 00:00:00
Unnamed: 33                    2019-09-01 00:00:00
Unnamed: 34                    2019-10-01 00:00:00
Unnamed: 35                    2019-11-01 00:00:00
Unnamed: 36                    2019-12-01 00:00:00
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

North Carolina

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.809472
Unnamed: 2                     2017-02-01 00:00:00                4.711613
Unnamed: 3                     2017-03-01 00:00:00                4.741632
Unnamed: 4                     2017-04-01 00:00:00                4.662483
Unnamed: 5                     2017-05-01 00:00:00                4.726918
Unnamed: 6                     2017-06-01 00:00:00                4.642616
Unnamed: 7                     2017-07-01 00:00:00                4.600519
Unnamed: 8                     2017-08-01 00:00:00                4.613557
Unnamed: 9                     2017-09-01 00:00:00                4.581288
Unnamed: 10                    2017-10-01 00:00:00                4.697741
Unnamed: 11                    2017-11-01 00:00:00                4.613962
Unnamed: 12                    2017-12-01 00:00:00                 4.60993
Unnamed: 13                    2018-01-01 00:00:00                  4.8517
Unnamed: 14                    2018-02-01 00:00:00                4.802478
Unnamed: 15                    2018-03-01 00:00:00                 4.69958
Unnamed: 16                    2018-04-01 00:00:00                4.715776
Unnamed: 17                    2018-05-01 00:00:00                4.683684
Unnamed: 18                    2018-06-01 00:00:00                4.632878
Unnamed: 19                    2018-07-01 00:00:00                4.652431
Unnamed: 20                    2018-08-01 00:00:00                4.600278
Unnamed: 21                    2018-09-01 00:00:00                4.636417
Unnamed: 22                    2018-10-01 00:00:00                4.717305
Unnamed: 23                    2018-11-01 00:00:00                4.730483
Unnamed: 24                    2018-12-01 00:00:00                4.708764
Unnamed: 25                    2019-01-01 00:00:00                4.819973
Unnamed: 26                    2019-02-01 00:00:00                4.777302
Unnamed: 27                    2019-03-01 00:00:00                4.745705
Unnamed: 28                    2019-04-01 00:00:00                4.808353
Unnamed: 29                    2019-05-01 00:00:00                4.718151
Unnamed: 30                    2019-06-01 00:00:00                4.671148
Unnamed: 31                    2019-07-01 00:00:00                4.743785
Unnamed: 32                    2019-08-01 00:00:00                4.644783
Unnamed: 33                    2019-09-01 00:00:00                4.642154
Unnamed: 34                    2019-10-01 00:00:00                4.735019
Unnamed: 35                    2019-11-01 00:00:00                4.721131
Unnamed: 36                    2019-12-01 00:00:00                4.726195
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

North Dakota

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.59837
Unnamed: 2                     2017-02-01 00:00:00                4.597339
Unnamed: 3                     2017-03-01 00:00:00                4.377914
Unnamed: 4                     2017-04-01 00:00:00                4.181171
Unnamed: 5                     2017-05-01 00:00:00                4.334645
Unnamed: 6                     2017-06-01 00:00:00                4.270603
Unnamed: 7                     2017-07-01 00:00:00                4.169531
Unnamed: 8                     2017-08-01 00:00:00                4.064153
Unnamed: 9                     2017-09-01 00:00:00                4.167851
Unnamed: 10                    2017-10-01 00:00:00                4.215769
Unnamed: 11                    2017-11-01 00:00:00                4.226611
Unnamed: 12                    2017-12-01 00:00:00                4.260697
Unnamed: 13                    2018-01-01 00:00:00                4.423461
Unnamed: 14                    2018-02-01 00:00:00                4.411103
Unnamed: 15                    2018-03-01 00:00:00                4.355919
Unnamed: 16                    2018-04-01 00:00:00                4.308395
Unnamed: 17                    2018-05-01 00:00:00                4.163982
Unnamed: 18                    2018-06-01 00:00:00                4.082344
Unnamed: 19                    2018-07-01 00:00:00                4.217455
Unnamed: 20                    2018-08-01 00:00:00                4.318108
Unnamed: 21                    2018-09-01 00:00:00                4.142336
Unnamed: 22                    2018-10-01 00:00:00                4.293591
Unnamed: 23                    2018-11-01 00:00:00                4.269103
Unnamed: 24                    2018-12-01 00:00:00                4.440746
Unnamed: 25                    2019-01-01 00:00:00                4.560172
Unnamed: 26                    2019-02-01 00:00:00                4.476204
Unnamed: 27                    2019-03-01 00:00:00                4.307595
Unnamed: 28                    2019-04-01 00:00:00                4.428035
Unnamed: 29                    2019-05-01 00:00:00                4.229248
Unnamed: 30                    2019-06-01 00:00:00                  3.9172
Unnamed: 31                    2019-07-01 00:00:00                4.245912
Unnamed: 32                    2019-08-01 00:00:00                4.085464
Unnamed: 33                    2019-09-01 00:00:00                4.343692
Unnamed: 34                    2019-10-01 00:00:00                4.246013
Unnamed: 35                    2019-11-01 00:00:00                4.208925
Unnamed: 36                    2019-12-01 00:00:00                4.314719
Unnamed: 37                    2020-01-01 00:00:00                4.470513
Unnamed: 38                    2020-02-01 00:00:00                4.225132
Unnamed: 39                    2020-03-01 00:00:00                4.391184
Unnamed: 40                    2020-04-01 00:00:00                4.413371
Unnamed: 41                    2020-05-01 00:00:00                4.122057
Unnamed: 42                    2020-06-01 00:00:00                4.302237
Unnamed: 43                    2020-07-01 00:00:00                4.250429
Unnamed: 44                    2020-08-01 00:00:00                4.262125
Unnamed: 45                    2020-09-01 00:00:00                4.616007
Unnamed: 46                    2020-10-01 00:00:00                  4.6314
Unnamed: 47                    2020-11-01 00:00:00                4.800915
Unnamed: 48                    2020-12-01 00:00:00                4.844407
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Ohio

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.672074
Unnamed: 2                     2017-02-01 00:00:00                4.645144
Unnamed: 3                     2017-03-01 00:00:00                4.654405
Unnamed: 4                     2017-04-01 00:00:00                4.512919
Unnamed: 5                     2017-05-01 00:00:00                4.572655
Unnamed: 6                     2017-06-01 00:00:00                4.561734
Unnamed: 7                     2017-07-01 00:00:00                4.557956
Unnamed: 8                     2017-08-01 00:00:00                4.577654
Unnamed: 9                     2017-09-01 00:00:00                4.522104
Unnamed: 10                    2017-10-01 00:00:00                4.551427
Unnamed: 11                    2017-11-01 00:00:00                4.583003
Unnamed: 12                    2017-12-01 00:00:00                4.522726
Unnamed: 13                    2018-01-01 00:00:00                4.804213
Unnamed: 14                    2018-02-01 00:00:00                4.749765
Unnamed: 15                    2018-03-01 00:00:00                4.699183
Unnamed: 16                    2018-04-01 00:00:00                4.703119
Unnamed: 17                    2018-05-01 00:00:00                4.590232
Unnamed: 18                    2018-06-01 00:00:00                4.552773
Unnamed: 19                    2018-07-01 00:00:00                4.605963
Unnamed: 20                    2018-08-01 00:00:00                4.600406
Unnamed: 21                    2018-09-01 00:00:00                4.588701
Unnamed: 22                    2018-10-01 00:00:00                4.694986
Unnamed: 23                    2018-11-01 00:00:00                4.705701
Unnamed: 24                    2018-12-01 00:00:00                4.602383
Unnamed: 25                    2019-01-01 00:00:00                4.825921
Unnamed: 26                    2019-02-01 00:00:00                4.756542
Unnamed: 27                    2019-03-01 00:00:00                 4.71816
Unnamed: 28                    2019-04-01 00:00:00                4.772086
Unnamed: 29                    2019-05-01 00:00:00                4.648291
Unnamed: 30                    2019-06-01 00:00:00                4.610215
Unnamed: 31                    2019-07-01 00:00:00                4.743574
Unnamed: 32                    2019-08-01 00:00:00                4.644481
Unnamed: 33                    2019-09-01 00:00:00                4.675129
Unnamed: 34                    2019-10-01 00:00:00                4.674173
Unnamed: 35                    2019-11-01 00:00:00                4.683364
Unnamed: 36                    2019-12-01 00:00:00                4.747183
Unnamed: 37                    2020-01-01 00:00:00                4.852709
Unnamed: 38                    2020-02-01 00:00:00                4.795938
Unnamed: 39                    2020-03-01 00:00:00                4.936111
Unnamed: 40                    2020-04-01 00:00:00                4.863816
Unnamed: 41                    2020-05-01 00:00:00                4.705269
Unnamed: 42                    2020-06-01 00:00:00                4.693721
Unnamed: 43                    2020-07-01 00:00:00                4.720579
Unnamed: 44                    2020-08-01 00:00:00                4.731856
Unnamed: 45                    2020-09-01 00:00:00                 4.81435
Unnamed: 46                    2020-10-01 00:00:00                4.868891
Unnamed: 47                    2020-11-01 00:00:00                4.980608
Unnamed: 48                    2020-12-01 00:00:00                5.242074
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Oklahoma

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                 4.81806
Unnamed: 2                     2017-02-01 00:00:00                4.754646
Unnamed: 3                     2017-03-01 00:00:00                4.788476
Unnamed: 4                     2017-04-01 00:00:00                 4.68591
Unnamed: 5                     2017-05-01 00:00:00                 4.76182
Unnamed: 6                     2017-06-01 00:00:00                4.742964
Unnamed: 7                     2017-07-01 00:00:00                 4.65394
Unnamed: 8                     2017-08-01 00:00:00                 4.61259
Unnamed: 9                     2017-09-01 00:00:00                4.715858
Unnamed: 10                    2017-10-01 00:00:00                4.705657
Unnamed: 11                    2017-11-01 00:00:00                4.688675
Unnamed: 12                    2017-12-01 00:00:00                 4.63133
Unnamed: 13                    2018-01-01 00:00:00                4.877369
Unnamed: 14                    2018-02-01 00:00:00                4.822185
Unnamed: 15                    2018-03-01 00:00:00                4.853588
Unnamed: 16                    2018-04-01 00:00:00                4.828644
Unnamed: 17                    2018-05-01 00:00:00                4.776042
Unnamed: 18                    2018-06-01 00:00:00                4.644628
Unnamed: 19                    2018-07-01 00:00:00                4.751692
Unnamed: 20                    2018-08-01 00:00:00                4.654607
Unnamed: 21                    2018-09-01 00:00:00                4.636932
Unnamed: 22                    2018-10-01 00:00:00                4.777288
Unnamed: 23                    2018-11-01 00:00:00                4.760645
Unnamed: 24                    2018-12-01 00:00:00                4.625482
Unnamed: 25                    2019-01-01 00:00:00                4.846906
Unnamed: 26                    2019-02-01 00:00:00                 4.74429
Unnamed: 27                    2019-03-01 00:00:00                4.794944
Unnamed: 28                    2019-04-01 00:00:00                4.820091
Unnamed: 29                    2019-05-01 00:00:00                4.757407
Unnamed: 30                    2019-06-01 00:00:00                4.643474
Unnamed: 31                    2019-07-01 00:00:00                4.761321
Unnamed: 32                    2019-08-01 00:00:00                4.636572
Unnamed: 33                    2019-09-01 00:00:00                4.580859
Unnamed: 34                    2019-10-01 00:00:00                4.699675
Unnamed: 35                    2019-11-01 00:00:00                4.633486
Unnamed: 36                    2019-12-01 00:00:00                4.792957
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Oregon

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.410829
Unnamed: 2                     2017-02-01 00:00:00                4.282895
Unnamed: 3                     2017-03-01 00:00:00                4.246321
Unnamed: 4                     2017-04-01 00:00:00                4.128373
Unnamed: 5                     2017-05-01 00:00:00                4.204691
Unnamed: 6                     2017-06-01 00:00:00                4.085561
Unnamed: 7                     2017-07-01 00:00:00                4.047849
Unnamed: 8                     2017-08-01 00:00:00                4.209907
Unnamed: 9                     2017-09-01 00:00:00                4.230938
Unnamed: 10                    2017-10-01 00:00:00                4.190493
Unnamed: 11                    2017-11-01 00:00:00                4.189563
Unnamed: 12                    2017-12-01 00:00:00                4.182459
Unnamed: 13                    2018-01-01 00:00:00                4.473183
Unnamed: 14                    2018-02-01 00:00:00                4.329388
Unnamed: 15                    2018-03-01 00:00:00                4.258505
Unnamed: 16                    2018-04-01 00:00:00                4.282485
Unnamed: 17                    2018-05-01 00:00:00                 4.16411
Unnamed: 18                    2018-06-01 00:00:00                4.158229
Unnamed: 19                    2018-07-01 00:00:00                4.218656
Unnamed: 20                    2018-08-01 00:00:00                4.221441
Unnamed: 21                    2018-09-01 00:00:00                 4.18727
Unnamed: 22                    2018-10-01 00:00:00                4.301367
Unnamed: 23                    2018-11-01 00:00:00                 4.30737
Unnamed: 24                    2018-12-01 00:00:00                4.278752
Unnamed: 25                    2019-01-01 00:00:00                 4.44906
Unnamed: 26                    2019-02-01 00:00:00                4.452221
Unnamed: 27                    2019-03-01 00:00:00                4.524976
Unnamed: 28                    2019-04-01 00:00:00                4.530183
Unnamed: 29                    2019-05-01 00:00:00                4.421838
Unnamed: 30                    2019-06-01 00:00:00                4.260691
Unnamed: 31                    2019-07-01 00:00:00                4.368238
Unnamed: 32                    2019-08-01 00:00:00                4.351277
Unnamed: 33                    2019-09-01 00:00:00                4.334669
Unnamed: 34                    2019-10-01 00:00:00                4.425006
Unnamed: 35                    2019-11-01 00:00:00                4.367207
Unnamed: 36                    2019-12-01 00:00:00                4.440116
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Pennsylvania

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.921734
Unnamed: 2                     2017-02-01 00:00:00                4.862418
Unnamed: 3                     2017-03-01 00:00:00                4.901736
Unnamed: 4                     2017-04-01 00:00:00                4.749409
Unnamed: 5                     2017-05-01 00:00:00                4.794501
Unnamed: 6                     2017-06-01 00:00:00                4.759339
Unnamed: 7                     2017-07-01 00:00:00                4.714993
Unnamed: 8                     2017-08-01 00:00:00                4.764544
Unnamed: 9                     2017-09-01 00:00:00                 4.77677
Unnamed: 10                    2017-10-01 00:00:00                4.790225
Unnamed: 11                    2017-11-01 00:00:00                4.791184
Unnamed: 12                    2017-12-01 00:00:00                4.767901
Unnamed: 13                    2018-01-01 00:00:00                4.975059
Unnamed: 14                    2018-02-01 00:00:00                4.966427
Unnamed: 15                    2018-03-01 00:00:00                4.881989
Unnamed: 16                    2018-04-01 00:00:00                4.839874
Unnamed: 17                    2018-05-01 00:00:00                4.808201
Unnamed: 18                    2018-06-01 00:00:00                4.691922
Unnamed: 19                    2018-07-01 00:00:00                4.793077
Unnamed: 20                    2018-08-01 00:00:00                4.762444
Unnamed: 21                    2018-09-01 00:00:00                4.770004
Unnamed: 22                    2018-10-01 00:00:00                 4.92388
Unnamed: 23                    2018-11-01 00:00:00                4.864945
Unnamed: 24                    2018-12-01 00:00:00                4.855019
Unnamed: 25                    2019-01-01 00:00:00                4.975056
Unnamed: 26                    2019-02-01 00:00:00                4.946806
Unnamed: 27                    2019-03-01 00:00:00                4.888872
Unnamed: 28                    2019-04-01 00:00:00                4.892911
Unnamed: 29                    2019-05-01 00:00:00                4.819592
Unnamed: 30                    2019-06-01 00:00:00                4.743432
Unnamed: 31                    2019-07-01 00:00:00                4.889319
Unnamed: 32                    2019-08-01 00:00:00                4.813642
Unnamed: 33                    2019-09-01 00:00:00                4.792038
Unnamed: 34                    2019-10-01 00:00:00                4.886054
Unnamed: 35                    2019-11-01 00:00:00                4.899527
Unnamed: 36                    2019-12-01 00:00:00                5.009391
Unnamed: 37                    2020-01-01 00:00:00                4.604642
Unnamed: 38                    2020-02-01 00:00:00                4.519247
Unnamed: 39                    2020-03-01 00:00:00                4.653255
Unnamed: 40                    2020-04-01 00:00:00                4.695353
Unnamed: 41                    2020-05-01 00:00:00                4.553279
Unnamed: 42                    2020-06-01 00:00:00                4.479982
Unnamed: 43                    2020-07-01 00:00:00                4.481568
Unnamed: 44                    2020-08-01 00:00:00                4.518981
Unnamed: 45                    2020-09-01 00:00:00                4.583024
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Rhode Island

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.490582
Unnamed: 2                     2017-02-01 00:00:00                4.556259
Unnamed: 3                     2017-03-01 00:00:00                4.607805
Unnamed: 4                     2017-04-01 00:00:00                4.393056
Unnamed: 5                     2017-05-01 00:00:00                 4.38349
Unnamed: 6                     2017-06-01 00:00:00                 4.38222
Unnamed: 7                     2017-07-01 00:00:00                4.424711
Unnamed: 8                     2017-08-01 00:00:00                4.350426
Unnamed: 9                     2017-09-01 00:00:00                4.414398
Unnamed: 10                    2017-10-01 00:00:00                4.561187
Unnamed: 11                    2017-11-01 00:00:00                4.493882
Unnamed: 12                    2017-12-01 00:00:00                4.405362
Unnamed: 13                    2018-01-01 00:00:00                4.689377
Unnamed: 14                    2018-02-01 00:00:00                 4.61293
Unnamed: 15                    2018-03-01 00:00:00                4.584355
Unnamed: 16                    2018-04-01 00:00:00                4.473052
Unnamed: 17                    2018-05-01 00:00:00                4.644763
Unnamed: 18                    2018-06-01 00:00:00                4.478875
Unnamed: 19                    2018-07-01 00:00:00                4.390239
Unnamed: 20                    2018-08-01 00:00:00                4.659178
Unnamed: 21                    2018-09-01 00:00:00                4.538224
Unnamed: 22                    2018-10-01 00:00:00                4.633801
Unnamed: 23                    2018-11-01 00:00:00                 4.72167
Unnamed: 24                    2018-12-01 00:00:00                4.672089
Unnamed: 25                    2019-01-01 00:00:00                4.645315
Unnamed: 26                    2019-02-01 00:00:00                4.546703
Unnamed: 27                    2019-03-01 00:00:00                4.600461
Unnamed: 28                    2019-04-01 00:00:00                 4.54692
Unnamed: 29                    2019-05-01 00:00:00                4.504976
Unnamed: 30                    2019-06-01 00:00:00                4.471217
Unnamed: 31                    2019-07-01 00:00:00                4.514971
Unnamed: 32                    2019-08-01 00:00:00                4.590352
Unnamed: 33                    2019-09-01 00:00:00                4.383877
Unnamed: 34                    2019-10-01 00:00:00                4.524461
Unnamed: 35                    2019-11-01 00:00:00                4.614952
Unnamed: 36                    2019-12-01 00:00:00                4.580349
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

South Carolina

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.913968
Unnamed: 2                     2017-02-01 00:00:00                4.898701
Unnamed: 3                     2017-03-01 00:00:00                4.885925
Unnamed: 4                     2017-04-01 00:00:00                4.806064
Unnamed: 5                     2017-05-01 00:00:00                4.810397
Unnamed: 6                     2017-06-01 00:00:00                4.836272
Unnamed: 7                     2017-07-01 00:00:00                4.737188
Unnamed: 8                     2017-08-01 00:00:00                4.783291
Unnamed: 9                     2017-09-01 00:00:00                4.670308
Unnamed: 10                    2017-10-01 00:00:00                4.820997
Unnamed: 11                    2017-11-01 00:00:00                4.756089
Unnamed: 12                    2017-12-01 00:00:00                4.788668
Unnamed: 13                    2018-01-01 00:00:00                5.045087
Unnamed: 14                    2018-02-01 00:00:00                5.022463
Unnamed: 15                    2018-03-01 00:00:00                4.939367
Unnamed: 16                    2018-04-01 00:00:00                4.786606
Unnamed: 17                    2018-05-01 00:00:00                4.828622
Unnamed: 18                    2018-06-01 00:00:00                4.812355
Unnamed: 19                    2018-07-01 00:00:00                4.832908
Unnamed: 20                    2018-08-01 00:00:00                4.836548
Unnamed: 21                    2018-09-01 00:00:00                4.830358
Unnamed: 22                    2018-10-01 00:00:00                4.904559
Unnamed: 23                    2018-11-01 00:00:00                4.920034
Unnamed: 24                    2018-12-01 00:00:00                4.863383
Unnamed: 25                    2019-01-01 00:00:00                5.103776
Unnamed: 26                    2019-02-01 00:00:00                5.000189
Unnamed: 27                    2019-03-01 00:00:00                4.952767
Unnamed: 28                    2019-04-01 00:00:00                5.095693
Unnamed: 29                    2019-05-01 00:00:00                 4.99274
Unnamed: 30                    2019-06-01 00:00:00                4.854047
Unnamed: 31                    2019-07-01 00:00:00                5.066701
Unnamed: 32                    2019-08-01 00:00:00                4.838464
Unnamed: 33                    2019-09-01 00:00:00                 5.04184
Unnamed: 34                    2019-10-01 00:00:00                4.943373
Unnamed: 35                    2019-11-01 00:00:00                4.956126
Unnamed: 36                    2019-12-01 00:00:00                5.066313
Unnamed: 37                    2020-01-01 00:00:00                4.725333
Unnamed: 38                    2020-02-01 00:00:00                  4.6593
Unnamed: 39                    2020-03-01 00:00:00                4.694446
Unnamed: 40                    2020-04-01 00:00:00                4.613672
Unnamed: 41                    2020-05-01 00:00:00                4.435992
Unnamed: 42                    2020-06-01 00:00:00                4.502872
Unnamed: 43                    2020-07-01 00:00:00                4.773021
Unnamed: 44                    2020-08-01 00:00:00                4.806817
Unnamed: 45                    2020-09-01 00:00:00                4.606012
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

South Dakota

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.414562
Unnamed: 2                     2017-02-01 00:00:00                4.398932
Unnamed: 3                     2017-03-01 00:00:00                4.396112
Unnamed: 4                     2017-04-01 00:00:00                4.295337
Unnamed: 5                     2017-05-01 00:00:00                4.202562
Unnamed: 6                     2017-06-01 00:00:00                4.065072
Unnamed: 7                     2017-07-01 00:00:00                4.113996
Unnamed: 8                     2017-08-01 00:00:00                4.260593
Unnamed: 9                     2017-09-01 00:00:00                4.154038
Unnamed: 10                    2017-10-01 00:00:00                4.092551
Unnamed: 11                    2017-11-01 00:00:00                4.084654
Unnamed: 12                    2017-12-01 00:00:00                3.916335
Unnamed: 13                    2018-01-01 00:00:00                4.321902
Unnamed: 14                    2018-02-01 00:00:00                4.330224
Unnamed: 15                    2018-03-01 00:00:00                 4.16741
Unnamed: 16                    2018-04-01 00:00:00                4.163302
Unnamed: 17                    2018-05-01 00:00:00                4.106692
Unnamed: 18                    2018-06-01 00:00:00                4.156793
Unnamed: 19                    2018-07-01 00:00:00                4.059833
Unnamed: 20                    2018-08-01 00:00:00                4.073203
Unnamed: 21                    2018-09-01 00:00:00                4.062213
Unnamed: 22                    2018-10-01 00:00:00                4.183446
Unnamed: 23                    2018-11-01 00:00:00                  4.1004
Unnamed: 24                    2018-12-01 00:00:00                4.052837
Unnamed: 25                    2019-01-01 00:00:00                4.317651
Unnamed: 26                    2019-02-01 00:00:00                4.344746
Unnamed: 27                    2019-03-01 00:00:00                 4.26856
Unnamed: 28                    2019-04-01 00:00:00                4.427043
Unnamed: 29                    2019-05-01 00:00:00                 4.40973
Unnamed: 30                    2019-06-01 00:00:00                4.102845
Unnamed: 31                    2019-07-01 00:00:00                4.322911
Unnamed: 32                    2019-08-01 00:00:00                 4.19141
Unnamed: 33                    2019-09-01 00:00:00                4.326895
Unnamed: 34                    2019-10-01 00:00:00                4.354835
Unnamed: 35                    2019-11-01 00:00:00                4.087695
Unnamed: 36                    2019-12-01 00:00:00                4.132286
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Tennessee

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.970475
Unnamed: 2                     2017-02-01 00:00:00                4.898035
Unnamed: 3                     2017-03-01 00:00:00                4.869506
Unnamed: 4                     2017-04-01 00:00:00                4.772221
Unnamed: 5                     2017-05-01 00:00:00                4.867101
Unnamed: 6                     2017-06-01 00:00:00                4.846356
Unnamed: 7                     2017-07-01 00:00:00                4.753857
Unnamed: 8                     2017-08-01 00:00:00                4.753897
Unnamed: 9                     2017-09-01 00:00:00                4.762108
Unnamed: 10                    2017-10-01 00:00:00                4.844852
Unnamed: 11                    2017-11-01 00:00:00                4.842672
Unnamed: 12                    2017-12-01 00:00:00                4.792086
Unnamed: 13                    2018-01-01 00:00:00                5.120467
Unnamed: 14                    2018-02-01 00:00:00                4.969704
Unnamed: 15                    2018-03-01 00:00:00                 4.91672
Unnamed: 16                    2018-04-01 00:00:00                 4.87595
Unnamed: 17                    2018-05-01 00:00:00                4.811923
Unnamed: 18                    2018-06-01 00:00:00                4.792693
Unnamed: 19                    2018-07-01 00:00:00                 4.85851
Unnamed: 20                    2018-08-01 00:00:00                4.749681
Unnamed: 21                    2018-09-01 00:00:00                4.728073
Unnamed: 22                    2018-10-01 00:00:00                4.952929
Unnamed: 23                    2018-11-01 00:00:00                4.892774
Unnamed: 24                    2018-12-01 00:00:00                 4.84336
Unnamed: 25                    2019-01-01 00:00:00                5.031524
Unnamed: 26                    2019-02-01 00:00:00                4.977934
Unnamed: 27                    2019-03-01 00:00:00                4.992569
Unnamed: 28                    2019-04-01 00:00:00                4.869263
Unnamed: 29                    2019-05-01 00:00:00                4.865601
Unnamed: 30                    2019-06-01 00:00:00                4.828985
Unnamed: 31                    2019-07-01 00:00:00                4.936037
Unnamed: 32                    2019-08-01 00:00:00                4.823795
Unnamed: 33                    2019-09-01 00:00:00                4.812861
Unnamed: 34                    2019-10-01 00:00:00                4.891083
Unnamed: 35                    2019-11-01 00:00:00                4.857506
Unnamed: 36                    2019-12-01 00:00:00                  4.8853
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Texas

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.664866
Unnamed: 2                     2017-02-01 00:00:00                4.645645
Unnamed: 3                     2017-03-01 00:00:00                4.616777
Unnamed: 4                     2017-04-01 00:00:00                4.497264
Unnamed: 5                     2017-05-01 00:00:00                4.587705
Unnamed: 6                     2017-06-01 00:00:00                4.504242
Unnamed: 7                     2017-07-01 00:00:00                4.492131
Unnamed: 8                     2017-08-01 00:00:00                4.463591
Unnamed: 9                     2017-09-01 00:00:00                4.509385
Unnamed: 10                    2017-10-01 00:00:00                4.536591
Unnamed: 11                    2017-11-01 00:00:00                4.478982
Unnamed: 12                    2017-12-01 00:00:00                4.450331
Unnamed: 13                    2018-01-01 00:00:00                4.735553
Unnamed: 14                    2018-02-01 00:00:00                4.690378
Unnamed: 15                    2018-03-01 00:00:00                4.564124
Unnamed: 16                    2018-04-01 00:00:00                4.543756
Unnamed: 17                    2018-05-01 00:00:00                4.529598
Unnamed: 18                    2018-06-01 00:00:00                4.415291
Unnamed: 19                    2018-07-01 00:00:00                4.491074
Unnamed: 20                    2018-08-01 00:00:00                 4.42703
Unnamed: 21                    2018-09-01 00:00:00                4.363583
Unnamed: 22                    2018-10-01 00:00:00                4.519629
Unnamed: 23                    2018-11-01 00:00:00                4.486536
Unnamed: 24                    2018-12-01 00:00:00                4.452221
Unnamed: 25                    2019-01-01 00:00:00                4.700219
Unnamed: 26                    2019-02-01 00:00:00                4.581153
Unnamed: 27                    2019-03-01 00:00:00                4.589933
Unnamed: 28                    2019-04-01 00:00:00                4.655662
Unnamed: 29                    2019-05-01 00:00:00                 4.54305
Unnamed: 30                    2019-06-01 00:00:00                4.470886
Unnamed: 31                    2019-07-01 00:00:00                4.540671
Unnamed: 32                    2019-08-01 00:00:00                4.442409
Unnamed: 33                    2019-09-01 00:00:00                4.472607
Unnamed: 34                    2019-10-01 00:00:00                4.520135
Unnamed: 35                    2019-11-01 00:00:00                4.481556
Unnamed: 36                    2019-12-01 00:00:00                4.536762
Unnamed: 37                    2020-01-01 00:00:00                4.275629
Unnamed: 38                    2020-02-01 00:00:00                4.226323
Unnamed: 39                    2020-03-01 00:00:00                4.293546
Unnamed: 40                    2020-04-01 00:00:00                4.148203
Unnamed: 41                    2020-05-01 00:00:00                4.036104
Unnamed: 42                    2020-06-01 00:00:00                 4.16939
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Utah

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                3.717206
Unnamed: 2                     2017-02-01 00:00:00                3.732988
Unnamed: 3                     2017-03-01 00:00:00                3.667948
Unnamed: 4                     2017-04-01 00:00:00                3.689839
Unnamed: 5                     2017-05-01 00:00:00                3.701146
Unnamed: 6                     2017-06-01 00:00:00                3.648939
Unnamed: 7                     2017-07-01 00:00:00                3.696443
Unnamed: 8                     2017-08-01 00:00:00                3.720275
Unnamed: 9                     2017-09-01 00:00:00                3.703358
Unnamed: 10                    2017-10-01 00:00:00                3.801627
Unnamed: 11                    2017-11-01 00:00:00                3.749325
Unnamed: 12                    2017-12-01 00:00:00                3.696952
Unnamed: 13                    2018-01-01 00:00:00                3.824674
Unnamed: 14                    2018-02-01 00:00:00                3.845256
Unnamed: 15                    2018-03-01 00:00:00                3.801345
Unnamed: 16                    2018-04-01 00:00:00                3.822301
Unnamed: 17                    2018-05-01 00:00:00                3.741519
Unnamed: 18                    2018-06-01 00:00:00                3.706691
Unnamed: 19                    2018-07-01 00:00:00                3.805838
Unnamed: 20                    2018-08-01 00:00:00                3.829549
Unnamed: 21                    2018-09-01 00:00:00                3.775318
Unnamed: 22                    2018-10-01 00:00:00                3.831749
Unnamed: 23                    2018-11-01 00:00:00                  3.8921
Unnamed: 24                    2018-12-01 00:00:00                 3.70763
Unnamed: 25                    2019-01-01 00:00:00                4.012408
Unnamed: 26                    2019-02-01 00:00:00                4.003978
Unnamed: 27                    2019-03-01 00:00:00                3.975172
Unnamed: 28                    2019-04-01 00:00:00                4.043146
Unnamed: 29                    2019-05-01 00:00:00                3.958929
Unnamed: 30                    2019-06-01 00:00:00                3.808922
Unnamed: 31                    2019-07-01 00:00:00                3.872371
Unnamed: 32                    2019-08-01 00:00:00                 3.86279
Unnamed: 33                    2019-09-01 00:00:00                 3.91709
Unnamed: 34                    2019-10-01 00:00:00                3.982216
Unnamed: 35                    2019-11-01 00:00:00                4.008964
Unnamed: 36                    2019-12-01 00:00:00                3.912054
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Vermont

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.842526
Unnamed: 2                     2017-02-01 00:00:00                5.153473
Unnamed: 3                     2017-03-01 00:00:00                4.989121
Unnamed: 4                     2017-04-01 00:00:00                4.392809
Unnamed: 5                     2017-05-01 00:00:00                4.673187
Unnamed: 6                     2017-06-01 00:00:00                4.517946
Unnamed: 7                     2017-07-01 00:00:00                4.458882
Unnamed: 8                     2017-08-01 00:00:00                4.649451
Unnamed: 9                     2017-09-01 00:00:00                4.634861
Unnamed: 10                    2017-10-01 00:00:00                4.489287
Unnamed: 11                    2017-11-01 00:00:00                4.644156
Unnamed: 12                    2017-12-01 00:00:00                4.912974
Unnamed: 13                    2018-01-01 00:00:00                 4.71319
Unnamed: 14                    2018-02-01 00:00:00                4.822268
Unnamed: 15                    2018-03-01 00:00:00                 4.83458
Unnamed: 16                    2018-04-01 00:00:00                4.696596
Unnamed: 17                    2018-05-01 00:00:00                4.778555
Unnamed: 18                    2018-06-01 00:00:00                 4.65416
Unnamed: 19                    2018-07-01 00:00:00                4.868521
Unnamed: 20                    2018-08-01 00:00:00                4.682629
Unnamed: 21                    2018-09-01 00:00:00                4.777832
Unnamed: 22                    2018-10-01 00:00:00                 4.91259
Unnamed: 23                    2018-11-01 00:00:00                4.835531
Unnamed: 24                    2018-12-01 00:00:00                4.773246
Unnamed: 25                    2019-01-01 00:00:00                4.886909
Unnamed: 26                    2019-02-01 00:00:00                5.231836
Unnamed: 27                    2019-03-01 00:00:00                5.010743
Unnamed: 28                    2019-04-01 00:00:00                4.822765
Unnamed: 29                    2019-05-01 00:00:00                4.767272
Unnamed: 30                    2019-06-01 00:00:00                4.844098
Unnamed: 31                    2019-07-01 00:00:00                4.837879
Unnamed: 32                    2019-08-01 00:00:00                4.844223
Unnamed: 33                    2019-09-01 00:00:00                4.856276
Unnamed: 34                    2019-10-01 00:00:00                4.986254
Unnamed: 35                    2019-11-01 00:00:00                5.216853
Unnamed: 36                    2019-12-01 00:00:00                4.733865
Unnamed: 37                    2020-01-01 00:00:00                4.243913
Unnamed: 38                    2020-02-01 00:00:00                4.332205
Unnamed: 39                    2020-03-01 00:00:00                 4.44086
Unnamed: 40                    2020-04-01 00:00:00                 4.42187
Unnamed: 41                    2020-05-01 00:00:00                4.002632
Unnamed: 42                    2020-06-01 00:00:00                4.170798
Unnamed: 43                    2020-07-01 00:00:00                4.094095
Unnamed: 44                    2020-08-01 00:00:00                4.149344
Unnamed: 45                    2020-09-01 00:00:00                4.306599
Unnamed: 46                    2020-10-01 00:00:00                4.361583
Unnamed: 47                    2020-11-01 00:00:00                 4.42927
Unnamed: 48                    2020-12-01 00:00:00                4.324707
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Virginia

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.682445
Unnamed: 2                     2017-02-01 00:00:00                4.717478
Unnamed: 3                     2017-03-01 00:00:00                4.698817
Unnamed: 4                     2017-04-01 00:00:00                4.618238
Unnamed: 5                     2017-05-01 00:00:00                4.624855
Unnamed: 6                     2017-06-01 00:00:00                4.605897
Unnamed: 7                     2017-07-01 00:00:00                4.581867
Unnamed: 8                     2017-08-01 00:00:00                4.520295
Unnamed: 9                     2017-09-01 00:00:00                4.547824
Unnamed: 10                    2017-10-01 00:00:00                4.605517
Unnamed: 11                    2017-11-01 00:00:00                4.635291
Unnamed: 12                    2017-12-01 00:00:00                4.539319
Unnamed: 13                    2018-01-01 00:00:00                4.803445
Unnamed: 14                    2018-02-01 00:00:00                4.773022
Unnamed: 15                    2018-03-01 00:00:00                4.742474
Unnamed: 16                    2018-04-01 00:00:00                4.635299
Unnamed: 17                    2018-05-01 00:00:00                4.625963
Unnamed: 18                    2018-06-01 00:00:00                4.580442
Unnamed: 19                    2018-07-01 00:00:00                4.614531
Unnamed: 20                    2018-08-01 00:00:00                4.589316
Unnamed: 21                    2018-09-01 00:00:00                4.537373
Unnamed: 22                    2018-10-01 00:00:00                 4.67232
Unnamed: 23                    2018-11-01 00:00:00                4.714228
Unnamed: 24                    2018-12-01 00:00:00                4.715478
Unnamed: 25                    2019-01-01 00:00:00                4.796004
Unnamed: 26                    2019-02-01 00:00:00                4.749595
Unnamed: 27                    2019-03-01 00:00:00                4.724544
Unnamed: 28                    2019-04-01 00:00:00                4.709327
Unnamed: 29                    2019-05-01 00:00:00                4.695017
Unnamed: 30                    2019-06-01 00:00:00                 4.62948
Unnamed: 31                    2019-07-01 00:00:00                 4.77435
Unnamed: 32                    2019-08-01 00:00:00                 4.64467
Unnamed: 33                    2019-09-01 00:00:00                4.638502
Unnamed: 34                    2019-10-01 00:00:00                4.660544
Unnamed: 35                    2019-11-01 00:00:00                4.680768
Unnamed: 36                    2019-12-01 00:00:00                4.821872
Unnamed: 37                    2020-01-01 00:00:00                4.522522
Unnamed: 38                    2020-02-01 00:00:00                4.466775
Unnamed: 39                    2020-03-01 00:00:00                4.566781
Unnamed: 40                    2020-04-01 00:00:00                4.524451
Unnamed: 41                    2020-05-01 00:00:00                4.466139
Unnamed: 42                    2020-06-01 00:00:00                4.490345
Unnamed: 43                    2020-07-01 00:00:00                4.509007
Unnamed: 44                    2020-08-01 00:00:00                4.525963
Unnamed: 45                    2020-09-01 00:00:00                4.601352
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Washington

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.575684
Unnamed: 2                     2017-02-01 00:00:00                4.579187
Unnamed: 3                     2017-03-01 00:00:00                4.509977
Unnamed: 4                     2017-04-01 00:00:00                4.397531
Unnamed: 5                     2017-05-01 00:00:00                4.407031
Unnamed: 6                     2017-06-01 00:00:00                4.351354
Unnamed: 7                     2017-07-01 00:00:00                4.260392
Unnamed: 8                     2017-08-01 00:00:00                4.333741
Unnamed: 9                     2017-09-01 00:00:00                 4.39816
Unnamed: 10                    2017-10-01 00:00:00                4.460402
Unnamed: 11                    2017-11-01 00:00:00                4.470184
Unnamed: 12                    2017-12-01 00:00:00                4.432911
Unnamed: 13                    2018-01-01 00:00:00                4.699271
Unnamed: 14                    2018-02-01 00:00:00                4.626951
Unnamed: 15                    2018-03-01 00:00:00                4.610731
Unnamed: 16                    2018-04-01 00:00:00                4.676068
Unnamed: 17                    2018-05-01 00:00:00                 4.52184
Unnamed: 18                    2018-06-01 00:00:00                4.460899
Unnamed: 19                    2018-07-01 00:00:00                4.511165
Unnamed: 20                    2018-08-01 00:00:00                4.461123
Unnamed: 21                    2018-09-01 00:00:00                4.492785
Unnamed: 22                    2018-10-01 00:00:00                4.603681
Unnamed: 23                    2018-11-01 00:00:00                4.592442
Unnamed: 24                    2018-12-01 00:00:00                4.656842
Unnamed: 25                    2019-01-01 00:00:00                4.786048
Unnamed: 26                    2019-02-01 00:00:00                4.753648
Unnamed: 27                    2019-03-01 00:00:00                4.691425
Unnamed: 28                    2019-04-01 00:00:00                4.684242
Unnamed: 29                    2019-05-01 00:00:00                 4.61954
Unnamed: 30                    2019-06-01 00:00:00                4.564926
Unnamed: 31                    2019-07-01 00:00:00                4.590067
Unnamed: 32                    2019-08-01 00:00:00                 4.55195
Unnamed: 33                    2019-09-01 00:00:00                4.588775
Unnamed: 34                    2019-10-01 00:00:00                4.682845
Unnamed: 35                    2019-11-01 00:00:00                4.606949
Unnamed: 36                    2019-12-01 00:00:00                4.683505
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

West Virginia

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                5.073254
Unnamed: 2                     2017-02-01 00:00:00                4.989688
Unnamed: 3                     2017-03-01 00:00:00                5.040641
Unnamed: 4                     2017-04-01 00:00:00                4.914462
Unnamed: 5                     2017-05-01 00:00:00                 4.86728
Unnamed: 6                     2017-06-01 00:00:00                4.881277
Unnamed: 7                     2017-07-01 00:00:00                 4.79396
Unnamed: 8                     2017-08-01 00:00:00                4.825713
Unnamed: 9                     2017-09-01 00:00:00                4.889409
Unnamed: 10                    2017-10-01 00:00:00                4.986531
Unnamed: 11                    2017-11-01 00:00:00                5.017163
Unnamed: 12                    2017-12-01 00:00:00                4.897562
Unnamed: 13                    2018-01-01 00:00:00                5.241787
Unnamed: 14                    2018-02-01 00:00:00                5.207837
Unnamed: 15                    2018-03-01 00:00:00                 5.10976
Unnamed: 16                    2018-04-01 00:00:00                5.071639
Unnamed: 17                    2018-05-01 00:00:00                5.043224
Unnamed: 18                    2018-06-01 00:00:00                4.938563
Unnamed: 19                    2018-07-01 00:00:00                4.996059
Unnamed: 20                    2018-08-01 00:00:00                5.081279
Unnamed: 21                    2018-09-01 00:00:00                4.885823
Unnamed: 22                    2018-10-01 00:00:00                5.077156
Unnamed: 23                    2018-11-01 00:00:00                 5.14838
Unnamed: 24                    2018-12-01 00:00:00                5.191749
Unnamed: 25                    2019-01-01 00:00:00                5.202902
Unnamed: 26                    2019-02-01 00:00:00                5.094958
Unnamed: 27                    2019-03-01 00:00:00                5.041167
Unnamed: 28                    2019-04-01 00:00:00                4.990433
Unnamed: 29                    2019-05-01 00:00:00                5.068537
Unnamed: 30                    2019-06-01 00:00:00                4.863727
Unnamed: 31                    2019-07-01 00:00:00                4.995719
Unnamed: 32                    2019-08-01 00:00:00                4.874878
Unnamed: 33                    2019-09-01 00:00:00                5.006147
Unnamed: 34                    2019-10-01 00:00:00                 4.94103
Unnamed: 35                    2019-11-01 00:00:00                4.933919
Unnamed: 36                    2019-12-01 00:00:00                5.095783
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Wisconsin

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.204828
Unnamed: 2                     2017-02-01 00:00:00                4.162226
Unnamed: 3                     2017-03-01 00:00:00                 4.15199
Unnamed: 4                     2017-04-01 00:00:00                4.080145
Unnamed: 5                     2017-05-01 00:00:00                4.107623
Unnamed: 6                     2017-06-01 00:00:00                4.010482
Unnamed: 7                     2017-07-01 00:00:00                4.029073
Unnamed: 8                     2017-08-01 00:00:00                4.037467
Unnamed: 9                     2017-09-01 00:00:00                4.099536
Unnamed: 10                    2017-10-01 00:00:00                4.109811
Unnamed: 11                    2017-11-01 00:00:00                4.183795
Unnamed: 12                    2017-12-01 00:00:00                4.090296
Unnamed: 13                    2018-01-01 00:00:00                4.274877
Unnamed: 14                    2018-02-01 00:00:00                4.303987
Unnamed: 15                    2018-03-01 00:00:00                 4.17734
Unnamed: 16                    2018-04-01 00:00:00                4.180103
Unnamed: 17                    2018-05-01 00:00:00                4.145459
Unnamed: 18                    2018-06-01 00:00:00                4.084695
Unnamed: 19                    2018-07-01 00:00:00                4.154876
Unnamed: 20                    2018-08-01 00:00:00                4.132058
Unnamed: 21                    2018-09-01 00:00:00                4.151813
Unnamed: 22                    2018-10-01 00:00:00                4.212148
Unnamed: 23                    2018-11-01 00:00:00                4.243807
Unnamed: 24                    2018-12-01 00:00:00                4.161922
Unnamed: 25                    2019-01-01 00:00:00                 4.33665
Unnamed: 26                    2019-02-01 00:00:00                4.351994
Unnamed: 27                    2019-03-01 00:00:00                4.240876
Unnamed: 28                    2019-04-01 00:00:00                4.323713
Unnamed: 29                    2019-05-01 00:00:00                4.204177
Unnamed: 30                    2019-06-01 00:00:00                4.160003
Unnamed: 31                    2019-07-01 00:00:00                4.151897
Unnamed: 32                    2019-08-01 00:00:00                4.162088
Unnamed: 33                    2019-09-01 00:00:00                4.273991
Unnamed: 34                    2019-10-01 00:00:00                4.245186
Unnamed: 35                    2019-11-01 00:00:00                 4.17654
Unnamed: 36                    2019-12-01 00:00:00                4.348581
Unnamed: 37                    2020-01-01 00:00:00                4.101105
Unnamed: 38                    2020-02-01 00:00:00                 4.04385
Unnamed: 39                    2020-03-01 00:00:00                4.138022
Unnamed: 40                    2020-04-01 00:00:00                4.029755
Unnamed: 41                    2020-05-01 00:00:00                 3.91622
Unnamed: 42                    2020-06-01 00:00:00                3.959887
Unnamed: 43                    2020-07-01 00:00:00                3.956029
Unnamed: 44                    2020-08-01 00:00:00                3.987057
Unnamed: 45                    2020-09-01 00:00:00                4.057974
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00

Wyoming

                                                 4                       9
HCUP Summary Trend Tables  Characteristic by Month  Average length of stay
Unnamed: 1                     2017-01-01 00:00:00                4.374174
Unnamed: 2                     2017-02-01 00:00:00                 3.95047
Unnamed: 3                     2017-03-01 00:00:00                4.237732
Unnamed: 4                     2017-04-01 00:00:00                3.792988
Unnamed: 5                     2017-05-01 00:00:00                3.646216
Unnamed: 6                     2017-06-01 00:00:00                3.665903
Unnamed: 7                     2017-07-01 00:00:00                3.684459
Unnamed: 8                     2017-08-01 00:00:00                3.591849
Unnamed: 9                     2017-09-01 00:00:00                3.710818
Unnamed: 10                    2017-10-01 00:00:00                3.908503
Unnamed: 11                    2017-11-01 00:00:00                 3.99618
Unnamed: 12                    2017-12-01 00:00:00                3.744955
Unnamed: 13                    2018-01-01 00:00:00                4.015607
Unnamed: 14                    2018-02-01 00:00:00                 3.83277
Unnamed: 15                    2018-03-01 00:00:00                3.885296
Unnamed: 16                    2018-04-01 00:00:00                3.845373
Unnamed: 17                    2018-05-01 00:00:00                3.689177
Unnamed: 18                    2018-06-01 00:00:00                3.599763
Unnamed: 19                    2018-07-01 00:00:00                3.698102
Unnamed: 20                    2018-08-01 00:00:00                3.567568
Unnamed: 21                    2018-09-01 00:00:00                3.505436
Unnamed: 22                    2018-10-01 00:00:00                3.765789
Unnamed: 23                    2018-11-01 00:00:00                3.704821
Unnamed: 24                    2018-12-01 00:00:00                3.601679
Unnamed: 25                    2019-01-01 00:00:00                  3.7435
Unnamed: 26                    2019-02-01 00:00:00                3.597894
Unnamed: 27                    2019-03-01 00:00:00                3.717292
Unnamed: 28                    2019-04-01 00:00:00                3.835313
Unnamed: 29                    2019-05-01 00:00:00                3.558916
Unnamed: 30                    2019-06-01 00:00:00                3.509236
Unnamed: 31                    2019-07-01 00:00:00                3.471622
Unnamed: 32                    2019-08-01 00:00:00                3.743845
Unnamed: 33                    2019-09-01 00:00:00                3.620867
Unnamed: 34                    2019-10-01 00:00:00                3.544179
Unnamed: 35                    2019-11-01 00:00:00                3.522215
Unnamed: 36                    2019-12-01 00:00:00                3.519189
Unnamed: 37                    2020-01-01 00:00:00
Unnamed: 38                    2020-02-01 00:00:00
Unnamed: 39                    2020-03-01 00:00:00
Unnamed: 40                    2020-04-01 00:00:00
Unnamed: 41                    2020-05-01 00:00:00
Unnamed: 42                    2020-06-01 00:00:00
Unnamed: 43                    2020-07-01 00:00:00
Unnamed: 44                    2020-08-01 00:00:00
Unnamed: 45                    2020-09-01 00:00:00
Unnamed: 46                    2020-10-01 00:00:00
Unnamed: 47                    2020-11-01 00:00:00
Unnamed: 48                    2020-12-01 00:00:00
Unnamed: 49                    2021-01-01 00:00:00
Unnamed: 50                    2021-02-01 00:00:00
Unnamed: 51                    2021-03-01 00:00:00